<md-dialog class="newhotel_dialog">
<md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Edit Found Item</h2>
        <span flex></span>
        <md-button class="md-icon-button" aria-label="close" closepopup ng-click="closePopUpByDirective();">
          <ng-md-icon icon="close" style="fill:#a5a7a7" size="24"></ng-md-icon>
        </md-button>
      </div>
</md-toolbar>
<div class="dash_pro_inform lost_panel">
		
		<div class="dash_pro_inform_inner boxunoversal">
		<form name="editFoundItemform" ng-submit="editFoundItem(editFoundItemform.$valid)" novalidate>
			<div class="row">
				<div class="col-sm-4">
					<md-input-container md-no-float class="md-block">
				            <input  ng-model="place" placeholder="Place of Items Lost/Found">
				    </md-input-container>
				</div>
				<div class="col-sm-4">
					<md-input-container md-no-float class="md-block">
		              <md-select ng-model="category" placeholder="Select Category">
		                <md-option value="electronic">
		                  Electronic
		                </md-option>
		              </md-select>
		          </md-input-container>
				</div>
				<div class="col-sm-4">
					<div class="recurring_task_fil_big positionrel" >
              <md-datepicker md-open-on-focus md-hide-icons="triangle"  ng-model="date" md-placeholder="Date"></md-datepicker>
          </div>
				</div>
				<div class="clearfix"></div>
				<div class="col-sm-4">
					<md-input-container md-no-float class="md-block">
             			<input type = "number" ng-model="no_of_items" placeholder="Number of item found">
         			</md-input-container>
				</div>
				<div class="col-sm-4">
					<md-input-container md-no-float class="md-block">
             		<md-select ng-model="status" placeholder="Status">
                       <md-option value="processing" selected>
                          Processing
                       </md-option>
                       <md-option  value="completed">
                          Completed
                       </md-option>
                    </md-select>
          </md-input-container>
				</div>
				<div class="col-sm-4">
					<md-input-container md-no-float class="md-block">
				        <input  type = "tel" ng-model="contact" placeholder="Contact Number">
				  </md-input-container>
				</div>

				<div class="col-sm-12">
					 <md-chips ng-model="ctrl.search_tag" name="itemTag" readonly="ctrl.readonly"
                    md-removable="ctrl.removable" placeholder="#Item tag" class="tag_name">
                    <md-chip-template>
                       <span class="entered_tags">{{$chip}}</span>
                    </md-chip-template>
                 </md-chips>
				</div>
				
				<div class="clearfix"></div>
				<div class="col-sm-12">
				<br>
					<md-input-container md-no-float class="md-block">
             			<input  ng-model="description" placeholder="Description or Title">
         			</md-input-container>
				</div>
				<div class="clearfix"></div>
			</div>

			<br>
			<div class="clearfix mar-bot20 nowidth">
					<div class="Selectdep_txt mar-bot10">Upload Images:</div>
					<ul class="uploadimage_list clearfix">
	          <li ng-repeat="f in files" ng-hide="hideattachment"> 
	              <div class="imgcon positionrel">
	                 	 
	                   <img ngf-thumbnail="f || 'assets/images/defaultjot.jpg'">
	              </div>
	              <span>{{f.name}} {{f.$errorParam}}</span>
	          </li>

	          <li ng-repeat="item in image" ng-if="item" ng-show="!files"> 
	              <div class="imgcon positionrel">	                 	 
	                   <img  src="{{'/images/hotel/'+hotel_id+'/lost_found/'+ item}}" class="width100">
	              </div>
	              <span>{{item}}</span>
			 	
	          </li>
	          
	          <li> 

              <div class="imgcon positionrel" ngf-select ="uploadFoundFiles($files, $invalidFiles)" multiple ng-model="file"   ngf-max-size="5MB" ngf-resize="{width: 246, height: 190}">
                      <ng-md-icon icon="attach_file" style="fill: #000" size="45"></ng-md-icon>                       
              </div>
              <span>Add New Image</span>
	          </li>
	      	</ul> 
	      	<span class="progress" ng-show="foundProgress >= 0">
            	<div style="background: green;text-align: center;color: #fff; width:{{foundProgress}}%" ng-bind="foundProgress + '%'"></div>
			</span> 
      </div>	 
			<div class="clearfix">
				<div class="chane_pass_btn">
					<md-button type="submit" class="md-primary addyellobtn yellowbtn">submit</md-button>  
				</div>				
			</div>


			<div class="result {{editlstFoundResult.class}}" ng-if="editlstFoundResult.status==2">    
                <ul>
                  <li ng-repeat="(key,value) in editlstFoundResult.errors">
                  {{value.message}}
                  </li>
                </ul>
            </div>
            </form>
		</div>
	</div>
	</md-dialog>