<md-dialog class="newhotel_dialog">
<md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Edit Found Item</h2>
        <span flex></span>
        <md-button class="md-icon-button" aria-label="close" closepopup ng-click="closePopUpByDirective();">
          <ng-md-icon icon="close" style="fill:#a5a7a7" size="24"></ng-md-icon>
        </md-button>
      </div>
</md-toolbar>
<div class="dash_pro_inform lost_panel">
		
		<div class="dash_pro_inform_inner boxunoversal">
		<form name="editFoundItemform" ng-submit="editFoundItem(editFoundItemform.$valid)" novalidate>
			<div class="row aligninput">
				<div class="col-sm-12">
					
					<md-input-container  class="md-block">
	         			<input  ng-model="title" placeholder="Title"  ng-required="true">
	     			</md-input-container>
				</div>
				<div class="col-sm-4">
					<md-input-container  class="md-block">
				            <input  ng-model="place" placeholder="Place of Items Lost/Found">
				    </md-input-container>
				</div>
				<div class="col-sm-4">
					<md-input-container  md-no-float class="md-block">
		              <md-select ng-model="category" placeholder="Select Category">
		                <md-option value="electronic">
		                  Electronic
		                </md-option>
		              </md-select>
		          </md-input-container>
				</div>
				<div class="col-sm-4">
					<div class="recurring_task_fil_big positionrel" >
              <md-datepicker md-open-on-focus md-hide-icons="triangle"  ng-model="date" md-placeholder="Date"></md-datepicker>
          </div>
				</div>
				<div class="clearfix"></div>
				<div class="col-sm-4">
					<md-input-container  class="md-block">
             			<input type = "number" ng-model="no_of_items" placeholder="Number of item found">
         			</md-input-container>
				</div>
				<div class="col-sm-4">
					<md-input-container md-no-float  class="md-block">
             		<md-select ng-model="status" placeholder="Status">
                       <md-option value="processing">
                          Processing
                       </md-option>
                       <md-option  value="completed">
                          Completed
                       </md-option>
                    </md-select>
          </md-input-container>
				</div>
				<div class="col-sm-4">
					<md-input-container  class="md-block">
				        <input  type = "tel" ng-model="contact" placeholder="Contact Number"  ng-required="true">
				  </md-input-container>
				</div>

				<div class="col-sm-12">
					 <md-chips ng-model="ctrl.search_tag" name="itemTag" readonly="ctrl.readonly"
                    md-removable="ctrl.removable" placeholder="#Item tag" class="tag_name">
                    <md-chip-template>
                       <span class="entered_tags">{{$chip}}</span>
                    </md-chip-template>
                 </md-chips>
				</div>				
				
				<div class="clearfix"></div>
				<br>
				<div class="col-sm-12" ng-include="'/modules/jot/views/jot_desc.html'">
				</div>
				<div class="clearfix"></div>
				<div class="col-sm-12" ng-include="'/modules/jot/views/attachment_list.html'">
				</div>
				<div class="clearfix"></div>
			</div>

			<br>
			<div class="clearfix mar-bot20 nowidth">
					
						<ul class="uploadimage_list clearfix">


				          <li ng-repeat="f in files"> 
				            

				              <div class="imgcon positionrel" ng-switch="f.type">
				              		                	 
				              	<img ngf-thumbnail="f || 'assets/images/defaultjot.jpg'" ng-switch-when="image/jpeg">
				              	<img ngf-thumbnail="f || 'assets/images/defaultjot.jpg'" ng-switch-when="image/png">
				                  

			                   <ng-md-icon style="fill:#2aaae0;transform: inherit;" ng-switch-when="application/pdf"  icon="picture_as_pdf" class="cursor"  size="22">
			                    </ng-md-icon>


			                     <ng-md-icon style="fill:#2aaae0;transform: inherit;" ng-switch-default  icon="insert_drive_file" class="cursor"  size="22">
			                    </ng-md-icon>
			                    
				              </div>


				              <span>{{f.name}} {{f.$errorParam}}</span>
				          </li>



		          <li ng-repeat="item in image" ng-if="item"> 
		              <div class="imgcon positionrel" ng-switch="item.type">
		              		<a href="{{'/images/hotel/'+hotel_id+'/lost_found/'+ item.filename}}" target="_blank">	                 	 
			                   <img ng-switch-when="image/jpeg"  src="{{'/images/hotel/'+hotel_id+'/lost_found/'+ item.filename}}" class="width100">	                   

			               
			                   <img ng-switch-when="image/png"  src="{{'/images/hotel/'+hotel_id+'/lost_found/'+ item.filename}}" class="width100">

			                   <ng-md-icon style="fill:#2aaae0;transform: inherit;" ng-switch-when="application/pdf"  icon="picture_as_pdf" class="cursor"  size="22">
		                        </ng-md-icon>
		                        
		                         <ng-md-icon style="fill:#2aaae0;transform: inherit;" ng-switch-default  icon="insert_drive_file" class="cursor"  size="22">
		                        </ng-md-icon>
	                       </a> 

		              </div>			 	
		          </li>          
		         
		      	</ul>  

	      </div>	 
			<div class="clearfix">
				<div class="chane_pass_btn">
					<md-button type="submit" class="md-primary addyellobtn yellowbtn">submit</md-button>  
				</div>				
			</div>

            </form>
		</div>
	</div>
	</md-dialog>