<div ng-controller="lostFoundCtlr as ctrl">

    <form name="lostFoundForm" ng-submit="submitLostFound(lostFoundForm.$valid)" novalidate'>
        
        <div class="clearfix lost_panel" ng-init="lfTab = 'lost'">          

           <div class="lost_tab_content"> 
              <ul class="lost_tab_content_list">
              <li class="fullWidth"> 
              <div class="clearfix" ng-include="'/modules/jot/views/jot_title.html'"></div>
              </li>
              </ul>
              <ul class="lost_tab_content_list">
              <li>
                 <md-input-container  class="md-block">
                    <input  ng-model="lost_place" placeholder="Place of item found">
                 </md-input-container>
              </li>
              <li>
                 <md-input-container md-no-float  class="md-block">
                    <md-select ng-model="lost_category" placeholder="Select category">
                       <md-option value="purse">
                          purse
                       </md-option>
                       
                       <md-option value="electronic">
                          Electronic
                       </md-option>

                    </md-select>
                 </md-input-container>
              </li>
                          
              <li>
                 <md-input-container  class="md-block">
                    <input type="number" ng-model="no_of_items" placeholder="Number of items">
                 </md-input-container>
              </li>
              <li>
                 <md-input-container md-no-float  class="md-block">
                    <md-select ng-model="lost_status" placeholder="Status">
                       <md-option value="processing" selected>
                          Processing
                       </md-option>
                       <md-option  value="completed">
                          Completed
                       </md-option>
                    </md-select>
                 </md-input-container>
              </li>
              <li>
                 <md-input-container  class="md-block">
                    <input type="tel"  ng-model="contact" placeholder="Contact information">
                 </md-input-container>
              </li>
               <li>
                 <md-input-container  class="md-block lost_found_picker">

                   <md-datepicker class="angudatepicker" md-open-on-focus  ng-model="lost_date" string-to-timestamp md-hide-icons="triangle"  md-placeholder="Date of found"></md-datepicker>

                 </md-input-container>                 
              </li> 
              <li class="fullWidth">
                 <md-chips ng-model="ctrl.itemTagModel" name="itemTag" readonly="ctrl.readonly"
                    md-removable="ctrl.removable" placeholder="#Item tag" class="tag_name">
                    <md-chip-template>
                       <span class="entered_tags">{{$chip}}</span>                          
                    </md-chip-template>
                 </md-chips>
              </li>
              <li class="fullWidth">
               
                <div class="clearfix" style="height: 170px" ng-include="'/modules/jot/views/jot_desc.html'"></div>
              </li>
              </ul>
           </div>
        </div>
        <div  ng-include="'/modules/jot/views/buttons.html'"></div>
    </form>
</div>