<md-dialog class="newhotel_dialog">
<md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Edit Category</h2>
        <span flex></span>
        <md-button class="md-icon-button" aria-label="close" closepopup ng-click="closePopUpByDirective();">
          <ng-md-icon icon="close" style="fill:#a5a7a7" size="24"></ng-md-icon>
        </md-button>
      </div>
</md-toolbar>
<div class="dash-main-con">
	<div class="dash_pro_inform">
	<form name="editInvtCatform" ng-submit="editInvtCat(editInvtCatform.$valid)" novalidate>		
		<div class="dash_pro_inform_inner boxunoversal">
			<div class="row">
				<div class="col-sm-12">
					<md-input-container md-no-float class="md-block">
				            <input  ng-model="inventory_category_name" placeholder="Category Name">
				    </md-input-container>
				</div>
			</div> 
			<div class="clearfix">
				<div class="chane_pass_btn">
					<md-button type="submit" class="md-primary addyellobtn yellowbtn">submit</md-button>  
				</div>				
			</div>


			<div class="message {{invtEditResult.class}}" ng-if="invtEditResult.status == 1">{{invtEditResult.message}}
			</div>

			<div class="result {{invtEditResult.class}}" ng-if="invtEditResult.status==2">    
                <ul>
                  <li ng-repeat="(key,value) in invtEditResult.errors">
                  {{value.message}}
                  </li>
                </ul>
            </div>

		</div>
		</form>
	</div>
</div>
</md-dialog>