<md-dialog class="newhotel_dialog">
<md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Edit Item</h2>
        <span flex></span>
        <md-button class="md-icon-button" aria-label="close" closepopup ng-click="closePopUpByDirective();">
          <ng-md-icon icon="close" style="fill:#a5a7a7" size="24"></ng-md-icon>
        </md-button>
      </div>
</md-toolbar>
<div class="dash-main-con ">

	<div class="dash_pro_inform">
		<div class="dash_pro_inform_inner boxunoversal">
		<form name="editItemform" ng-submit="editItem(editItemform.$valid)" novalidate>
			<div class="row aligninput">
				<div class="col-sm-4">
					<md-input-container  class="md-block">
				            <input  ng-model="item_name" placeholder="Item" ng-required="true">
				    </md-input-container>
				</div>
				<div class="col-sm-4">	
	              <md-input-container  class="md-block">
		            <input type="number" min="0" ng-model="quantity" placeholder="Quantity">
				   </md-input-container>
          			
				</div>
	
				<div class="col-sm-4">
					<md-input-container  class="md-block">
				            <input type="number" min="0"  ng-model="price" placeholder="Price">
				    </md-input-container>
				</div>
				<div class="col-sm-8" class="md-block">
					<md-input-container  md-no-float class="md-block">
				    <md-select ng-model="category" placeholder="Select Category">
			                <md-option ng-repeat="invCat in inventCatList" value="{{invCat.inventory_category_name}}">
			                  {{invCat.inventory_category_name}}
			                </md-option>			                
			              </md-select>
			              </md-input-container>
				</div>	

				<div class="col-sm-4">
					<md-input-container  class="md-block">
				            <input  ng-model="sku_code" placeholder="Sku Code">
				    </md-input-container>
				</div>
			</div>
			
			<div class="clearfix ">
				<div class="Selectdep_txt">Upload Images</div>
				<div class="change_pro positionrel">
					
					<img ngf-thumbnail="profile[0] || '{{image}}'"  class="width100" style="height:100%">
					<div class="hover_de">
						<ng-md-icon icon="photo_camera" style="fill: #fff" size="24"></ng-md-icon> 
						<span class="text-center">
							Change your item photo
						</span>
					</div>
					<input type="file"  ngf-accept="'image/*'" ngf-select ="uploadprofileImage($files, $invalidFiles)" ngf-resize="{width: 90, height: 90}" ng-model="profile_image" ngf-max-size="5MB" class="uplosd_img_ab" name="">
				</div>			
				
				<br>
			</div> 
			<div class="clearfix">
				<div class="chane_pass_btn">
					<md-button type="submit" class="md-primary addyellobtn yellowbtn">submit</md-button>  
				</div>				
			</div>


			</form>
		</div>
	</div>	
</div>

</md-dialog>


