<div class="dash-main-con">
<!--middle panel -->
<section class="dashrightsection aligninput" ng-class="{'leftopen':$root.leftopen}">
	
	<div class="dash_hd_txt mar-bot20 clearfix">
		<div class="dash_hd mar-bot0 dash_hd-left">Category</div>


		<div class="rightfilter_right">
			<div class="chane_pass_btn_right">
				

		    <md-button  slide-toggle="#vending-cat" ng-class="{activebtn:invForm}" ng-click="invForm = !invForm; inventory_category_name = '';" class="md-primary addyellobtn yellowbtn widthauto custom-transition">					
					{{(invForm)?"Close":"Add Category"}}
			</md-button>
			</div>
	    </div>    
	</div>



	<div class="dash_pro_inform slideable" id="vending-cat">
	<form name="addInvtCatform" ng-submit="addInvtCat(addInvtCatform.$valid)" novalidate>		
		<div class="dash_pro_inform_inner boxunoversal">
			<div class="row">
				<div class="col-sm-3">
					<md-input-container  class="md-block">
				            <input  ng-model="inventory_category_name" placeholder="Category Name" ng-required="true">
				    </md-input-container>
				</div>
			</div> 
			<div class="clearfix">
				<div class="chane_pass_btn">
					<md-button type="submit" class="md-primary addyellobtn yellowbtn">submit</md-button>  
				</div>				
			</div>
		</div>
		</form>
	</div>



	<div class="clearfix depart_midle">
		<div class="deptsrch deptsrch_gray">
			<div class="deptsrch_gray_top mar-bot0 clearfix">
			<div class="positionrel inventory_filter_top">
				<div class="vending_left_top_serch positionrel" style="float: left;width: 90%;">
					<md-input-container  class="md-block">
			      <input  ng-model="search_cat_name" placeholder="Search Category" autocomplete="off">
			  	</md-input-container>			  	
				</div>

				<div class="" style="float: right; padding: 10px 0px 0 5px;cursor: pointer;" ng-click="search_cat_name = ''" title="Reset filters">
					<img src="assets/images/reset_filter.png" style="width: 30px;">
				</div>
				
			</div>
			</div>
		</div>


		<div class="deptsrch_data">
		<br><br>
			 <ul class="deptsrch_data_list clearfix">
			 		<li  ng-repeat="invCat in filteredCat = 
              (invtList | filter:{inventory_category_name:search_cat_name}) 
              track by $index">
			 			<div class="deptsrch_data_title" style="border-bottom:0">			 				
			 				{{invCat.inventory_category_name}}
			 		
                  	<span class="icon_btn">
	                  	<ng-md-icon class="cursor edit_icon tablebluetag" icon="mode_edit" class="cursor"  size="20" ng-click="openEditForm(invCat);"  title="Edit">
				 		</ng-md-icon>
	                  	<ng-md-icon class="cursor closr_icon tableredtag" icon="close" class="cursor"  size="22" title="Delete" confirmed-click="removeCat(invCat._id,$index)" ng-confirm-title="Delete Category" ng-confirm-delete="Are you sure you want to remove this category."></ng-md-icon>
                  	</span>
			 			</div>			 			
			 		</li>
			 		
			 </ul>

			 <div ng-show="!filteredCat.length" class="itemnotfound">
                No category found.                
        	 </div>
		</div>
		
	</div> 
	
</section>
</div>
