
<md-button class="md-primary" ng-click="login()" aria-label="login">
	Login
</md-button>

<!-- 
<div class="panel col-sm-3">
 -->
<!-- <bx-slider data="lists"  config="config"></bx-slider> -->
<!-- <bx-slider data="lists1"  config="{ mode: 'slide', captions: true}"></bx-slider> -->

<!-- <ul bx-slider config="config">
	<li bx-item ng-repeat="item in lists1">{{item}}</li>
</ul> -->
<!-- 	<data-owl-carousel class="owl-carousel" data-options="config">

	  <div owl-carousel-item ng-repeat="item in ::lists1" class="item">
	    <p>{{::item}}</p>
	  </div>
	</data-owl-carousel> -->
<!-- </div> -->
<!-- <div class="clearfix"></div>
<div id="customNav"></div> -->
