<!-- <md-dialog class="login_dialog" aria-label="login">
  <md-button class="md-icon-button login_close" aria-label="close" closepopup ng-click="closePopUpByDirective();">
          <ng-md-icon icon="close" style="fill:#a5a7a7" size="24"></ng-md-icon>
  </md-button>

    <md-dialog-content> -->
    <div class="form">
    <form name="resetPassForm" ng-submit="resetPass(resetPassForm.$valid)" novalidate ng-show="!forget" style="    margin: 106px 0px;">
      <div class="md-dialog-content login_content">
      	<div class="">
        	<div class="loginHd">Reset Password<p>Lorem ipsum dolor sit amet, consectetur</p></div>
            <div class="form">
		        <md-input-container class="md-block">
		          	<label>Password</label>
		          	<input required type="password" name="forget_password" data-ng-model="forget_password" ng-required="true">
				 	<ng-md-icon icon="lock" class="login_icon" style="fill:gray" size="20"></ng-md-icon>		          	
		        </md-input-container>	

            <md-input-container class="md-block">
                <label>Confirm Password</label>
                <input required type="password" name="forget_confirm_password" data-ng-model="forget_confirm_password" ng-required="true">
          <ng-md-icon icon="lock" class="login_icon" style="fill:gray" size="20"></ng-md-icon>                
            </md-input-container> 

              <div class="md-block"> 
               	<md-button type="submit" class="md-primary getloginbtn" aria-label="signup" >Submit</md-button>
              </div>                 
            </div>
            <div ng-if="resetResult.status == 2"class="result {{resetResult.class}}">{{resetResult.message}}  </div> 
        </div>
       	
      </div>
       </form>
 <!-- </md-dialog-content> 
</md-dialog> -->