<md-dialog class="newhotel_dialog">
	<md-toolbar>
	      <div class="md-toolbar-tools">
	        <h2>Edit Shift</h2>
	        <span flex></span>
	        <md-button class="md-icon-button" aria-label="close" closepopup ng-click="closePopUpByDirective();">
	          <ng-md-icon icon="close" style="fill:#a5a7a7" size="24"></ng-md-icon>
	        </md-button>
	      </div>
	</md-toolbar>

	<div class="dash_pro_inform aligninput">
	    <form name="updateshiftform" ng-submit="updateShift(updateshiftform.$valid)" novalidate>
			<div class="clearfix">
				<!-- <div class="dash_pro_inform_hd">Add Department</div> -->
			</div>
			<div class="dash_pro_inform_inner boxunoversal">
				<div class="row">

					<div class="col-sm-4">
					 <div class="col-sm-12">
						<md-input-container  class="md-block">
					        <input  ng-model="shift_name" placeholder="Shift Name for example: (Day/Night)" ng-required="true">
					    </md-input-container>
					    </div>
					     <div class="col-sm-8">
					    <md-input-container  md-no-float class="md-block selectgeneral40">
		                <md-select ng-model="department_name" placeholder="Department">
		                  <md-option value="">
                				Select Department
              				</md-option>
		                	<md-option ng-repeat="dept in $parent.departmentList" value="{{dept.department_name}}">
                				{{dept.department_name}}
              				</md-option>
		                </md-select>
		            </md-input-container>
		            </div>

			            <div class="col-sm-4">
			            	<md-input-container  class="md-block">
								<input  type="text" ng-model="ctlr.bgcolor"  style="background: {{ctlr.bgcolor}}" placeholder="Select background color" ng-click="colorSwatch = !colorSwatch" autocomplete="off" />
							</md-input-container>

							<div class="colorswatch-cont" ng-show="colorSwatch" ng-class="{fullHeight:colorSwatch}">
								<div class="color-swatch" ng-repeat="color in colorCodes" style="background-color: {{color}}" ng-click="ctlr.bgcolor = color">&nbsp;</div>
							</div>
			            </div>
					</div>

					<div class="col-sm-8">
					<div class="col-sm-2" style="padding-top: 15px;">Start Time: </div>
						<div class="col-sm-4">
							<md-input-container md-no-float  class="md-block selectgeneral40">
								<md-select ng-model="start_time.hour" placeholder="Start Hour">
									<md-option ng-repeat="hour in getDay(12) track by $index" value="{{$index+1}}">
										{{$index+1}}
									</md-option>
								</md-select>
							</md-input-container>
						</div>	

						<div class="col-sm-3">
							<md-input-container md-no-float  class="md-block selectgeneral40">
								<md-select ng-model="start_time.minute" placeholder="Start Minute">
									
									<md-option ng-repeat="min in [00,15,30,45,60]  track by $index" value="{{min}}">
										{{min | digits:this}}
									</md-option>
								</md-select>
							</md-input-container>
						</div>

						<div class="col-sm-3">
							<md-input-container md-no-float  class="md-block selectgeneral40">
								<md-select ng-model="start_time.meridiem" placeholder="AM/PM">
									<md-option ng-repeat="md in ['AM','PM']" value="{{md}}">
										{{md}}
									</md-option>
								</md-select>
							</md-input-container>
						</div>

						<div class="clearfix"></div>
						</br>

						<div class="col-sm-2" style="padding-top: 15px;">End Time: </div>
					<div class="col-sm-4">
						<md-input-container md-no-float  class="md-block selectgeneral40">
							<md-select ng-model="end_time.hour" placeholder="End Hour">
								<md-option value="-1">
									Untill Finish
								</md-option>

								<md-option ng-repeat="hour in getDay(12) track by $index" value="{{$index+1}}">
									{{$index+1}}
								</md-option>
							</md-select>
						</md-input-container>
					</div>	

					<div class="col-sm-3">
						<md-input-container md-no-float  class="md-block selectgeneral40">
							<md-select ng-model="end_time.minute" placeholder="Start Minute">
								
								<md-option ng-repeat="min in [00,15,30,45,60]  track by $index" value="{{min}}">
									{{min | digits:this}}
								</md-option>
							</md-select>
						</md-input-container>
					</div>

					<div class="col-sm-3">
						<md-input-container md-no-float  class="md-block selectgeneral40">
							<md-select ng-model="end_time.meridiem" placeholder="AM/PM">
								<md-option ng-repeat="md in ['AM','PM']" value="{{md}}">
									{{md}}
								</md-option>
							</md-select>
						</md-input-container>
					</div>
						
					</div>


					<div class="clearfix"></div>

					<br>
				</div>
				<div class="clearfix">
					<div class="chane_pass_btn">
						<md-button type="submit" class="md-primary addyellobtn yellowbtn">submit</md-button>  
					</div>						
				</div>

				
			</div>
		</form>	
</div>

</md-dialog>