<section class="dashrightsection aligninput" ng-class="{'leftopen':leftopen}">
	<div class="dash_hd_txt mar-bot20 clearfix">
		<div class="dash_hd mar-bot0 dash_hd-left">View Member</div>
		<div class="rightfilter_right">
			<div class="chane_pass_btn_right">
				
				<md-button  slide-toggle="#emp" ng-class="{activebtn:invForm}" ng-click="invForm = !invForm; blank();" class="md-primary addyellobtn yellowbtn widthauto custom-transition">					
					{{(invForm)?"Close":"Add Member"}}
				</md-button>

			</div>	
				
	    </div>    
	</div>


	<div class="dash_pro_inform slideable" id="emp">
	<form name="addEmployeeform" ng-submit="addEmployee(addEmployeeform.$valid)" novalidate>	
		<div class="dash_pro_inform_inner boxunoversal">
			<div class="row">

				<div class="col-sm-4">
					<md-input-container  class="md-block">
				            <input  ng-model="first_name" placeholder="First Name" ng-required="true">				             
				    </md-input-container>
				</div>

				<div class="col-sm-4">
					<md-input-container class="md-block">
				            <input  ng-model="last_name" placeholder="Last Name" ng-required="true">				            
				    </md-input-container>
				</div>

				<div class="col-sm-4">
					<md-input-container class="md-block">
				            <input  ng-model="contact_number" placeholder="Contact Number" ng-required="true">
				    </md-input-container>
				</div>

				<div class="col-sm-4">
					<md-input-container class="md-block">
				            <input  ng-model="email" placeholder="Email">
				    </md-input-container>
				</div>

				<div class="col-sm-4">					

                    <md-input-container md-no-float class="md-block">					
						<md-select ng-model="departments"
				                   md-on-close="clearSearchTerm()"
				                   data-md-container-class="selectdemoSelectHeader"
				                   multiple aria-label="department" placeholder="Select Department">					          
				          <md-optgroup label="deptartments">
				            <md-option ng-repeat="dept in departmentList" value="{{dept.abbreviation}}">
                            {{dept.department_name}}
                          </md-option>
				          </md-optgroup>
				        </md-select>
					</md-input-container>



				</div>
				<div class="col-sm-4">
				
				     <md-input-container  md-no-float class="md-block">					
						<md-select ng-model="position"
				                   md-on-close="clearSearchTerm()"
				                   data-md-container-class="selectdemoSelectHeader"
				                   multiple aria-label="Position" placeholder="Select Position">					          
				          <md-optgroup label="Position">
				           <md-option  ng-repeat="pos in potisionList" value="{{pos.position}}">
	                            {{pos.position}}
	                        </md-option> 
				          </md-optgroup>
				        </md-select>
					</md-input-container>

				</div>
				<div class="clearfix"></div>

				<div class="col-sm-4">
					<md-input-container md-no-float class="md-block">
						 <md-select ng-model="status" placeholder="Select Status" style="padding:0">
                          <md-option value="active">
                            Active
                          </md-option> 
                          <md-option value="inactive">
                            Inactive
                          </md-option>                       
                        </md-select>
					</md-input-container>	
				</div>

				<div class="col-sm-8">
					<md-input-container class="md-block">
						 <input  ng-model="address" placeholder="Address">
					</md-input-container>	
				</div>
			</div>
			
			<div class="clearfix ">
				<div class="Selectdep_txt">Upload Images</div>

				<div class="change_pro positionrel">
					
					<img ngf-thumbnail="profile[0] || 'assets/images/default_profile.png'"  class="width100" style="height:100%">
					<div class="hover_de">
						<ng-md-icon icon="photo_camera" style="fill: #fff" size="24"></ng-md-icon> 
						<span class="text-center">
							Upload profile photo
						</span>
					</div>
					<input type="file" ngf-select ="uploadprofileImage($files, $invalidFiles)" ngf-resize="{width: 90, height: 90}" ng-model="profile_image" ngf-max-size="5MB" class="uplosd_img_ab" name="">
				</div>			
				
				<br>
			</div>

			

			<div class="clearfix">
				<div class="chane_pass_btn">
					<md-button   type="submit" class="md-primary addyellobtn yellowbtn">submit</md-button>  
				</div>
					
			</div>

		</div>
		</form>
	</div>




	<div class="clearfix depart_midle">
		<div class="deptsrch deptsrch_gray">
			<div class="deptsrch_gray_top mar-bot0 clearfix">
					

				<div class="montfilter vending_left_top_serch positionrel">
					<md-input-container class="md-block">
			      <input  ng-model="searchEmployee" placeholder="Search Employee">
			  	</md-input-container>			  	
				</div>

				<div class="" style="float: right; padding: 10px 0px 0 10px;cursor: pointer;" ng-click="searchEmployee = searchPosition = search_departmentwise = search_status = ''" title="Reset filters">
						<img src="assets/images/reset_filter.png" style="width: 30px;">
				</div>

				<div class="right_montfilter">
					<ul class="clearfix">
						<li>
							<div class="selectwhite">
					            <md-input-container md-no-float class="md-block selectgeneral48">
					                <md-select ng-model="searchPosition" placeholder="Position" style="padding:0">
					                <md-option value="">
			                            Select
			                          </md-option>
					                <md-option  ng-repeat="pos in potisionList" value="{{pos.position}}">
	                            		{{pos.position}}
			                          </md-option>                    
			                        </md-select>
					            </md-input-container>
		        			</div>
						</li>
						<li>
							<div class="selectwhite">
					            <md-input-container  md-no-float class="md-block selectgeneral48">
					                <md-select ng-model="search_departmentwise" placeholder="Department">
					                	<md-option value="">
                            				Select Department
                          				</md-option>
					                	<md-option ng-repeat="dept in departmentList" value="{{dept.abbreviation}}">
                            				{{dept.department_name}}
                          				</md-option>
					                </md-select>
					            </md-input-container>
		        			</div>
	        			</li>
	        			<li>
							<div class="selectwhite">
					            <md-input-container md-no-float class="md-block selectgeneral48">
					                <md-select ng-model="search_status" placeholder="Status">
					                <md-option value="">
			                            Select Status
			                          </md-option>
					                  <md-option value="active">
			                            Active
			                          </md-option> 
			                          <md-option value="inactive">
			                            Inactive
			                          </md-option> 
					                </md-select>
					            </md-input-container>
		        			</div>
	        			</li>
        			</ul>
				</div>

				
			</div>
		</div>

		<div class="addmember_data_table">
				<div class="table_div">
	        <table cellspacing="0" cellpadding="0" border="0" width="100%" class="vending_table" ng-init="ctrl.hideEmp = []">
	          <thead>
	              <tr>
	                  <th width="2%"># </th>                  
	                  <th width="20%">Name</th>
	                  <th width="10%">Position</th>
	                  <th width="10%">Department</th>
	                  <th width="18%">Email Address</th>
	                  <th width="15%">Contact Number</th>
	                  <th width="10%">Status</th>
	                  <th width="10%">Action</th>
	              </tr>
	          </thead>
	          <tbody>
	              <tr ng-repeat="emp in filteredemp = 
	              ($root.staffList | 
	              filter:(!!search_departmentwise || undefined) 
	              && {departments: search_departmentwise} | 
	              filter:(!!searchPosition || undefined) && {position:searchPosition} |
	              filter: (!!search_status || undefined) && {status: search_status}: true |
	              employeefilter:this
	              ) 
	              track by $index">
	                  <td>{{$index+1}}</td>
	                 
	                  <td class="capitalize" >
	                  	<img src="{{(emp.profile_image)?'/images/hotel/'+emp.hotel_id+'/profile/'+emp.profile_image:'/assets/images/default_profile.png'}}" style="margin-right: 10px;">

	                  {{emp.first_name}} {{emp.last_name}}</td>
	                  <td>

	                  {{emp.position.join(", ")}}


	                  </td>
	                  <td>                 

	                  <label ng-repeat="dept in emp.departments">
	                  	{{(departmentList | filter : {abbreviation : dept } : true)[0].department_name}}{{($index < emp.departments.length-1)?",&nbsp;":''}}
	                  </label>
	                
	                  </td>
	                  <td>{{emp.email}}</td>
	                  <td>{{emp.contact_number}}</td>
	                  <td><span class="tablebluetag">{{emp.status}}</span></td>
	                  <td>
	                  	<!-- <ng-md-icon class="cursor tablegreentag" icon="remove_red_eye" class="cursor"  size="22" ng-click="viewDetail(emp);"></ng-md-icon> -->
	                  	<ng-md-icon ng-if="emp.invitationstatus == 'unverified' "  class="cursor edit_icon tablebluetag" icon="insert_invitation" class="cursor"  size="22" ng-click="sendInvitation(emp);" title="Invite"></ng-md-icon>

	                  	<ng-md-icon class="cursor edit_icon tablebluetag" icon="mode_edit" class="cursor"  size="20" ng-click="openEditForm(emp);" title="Edit"></ng-md-icon>

	                  	<ng-md-icon class="cursor closr_icon tableredtag" icon="close" class="cursor"  size="22" title="Delete" confirmed-click="removeEmployee(emp._id,$index)" ng-confirm-title="Delete Employee" ng-confirm-delete="Are you sure you want to remove this employee."></ng-md-icon>

	                  	<ng-md-icon ng-if="emp.invitationstatus == 'verified' " class="cursor" style="fill: green;float: right;" icon="check_circle" class="cursor"  size="22" title="Verified"></ng-md-icon>
	                  </td>
	              </tr>	              
	          </tbody>
	        </table>

	        <div ng-show="!filteredemp.length" class="itemnotfound">
	                No employee found.                
	         </div>
	      </div>
		</div>
	</div>
</section>