<div class="dash-main-con">

<!--middle panel -->
<section class="dashrightsection" ng-style="{'padding-left': isAuth.headerType =='hotel_header'?'20px':'','margin-left': isAuth.headerType =='hotel_header'?'0':'' }"  ng-class="{'leftopen':leftopen}" style="background: #f4f8f9;">


	<div class="dash_hd" style="
    display: inline-block;
    color: #4ebdf6;
    border-bottom: 2px solid #4ebdf6;
    font-size: 26px;
">Hotels</div>
	<div class="hotel_list_top">
		
		<div class="circle_container" ng-repeat="hotel in hotels" 
			            ng-hide="hideHotel" ng-click="redirectToJot(hotel)">
			<div class="circle" style="background: url('assets/images/hotel_1.png') 0 0 no-repeat; background-size: cover;">
			  <div class="circle__inner">
			    <div class="circle__wrapper">
			      <div class="hover_effect">
						<div><img class="hotel-list-icon" src="assets/images/hotet_5star.png"></div>
						<h4 class="hotel_name">{{hotel.hotelname}} <span>{{hotel.address}}</span></h4>
					</div>
			    </div>
			  </div>
			</div>
		</div>

		<div class="circle_container"  ng-click="openHotelSetupWizard();" ng-if="$root.userData.role !='staff'">
			<div class="circle">
			  <div class="circle__inner">
			    <div class="circle__wrapper">
			       <div class="dash_hotel_top_new">
						<a href="javascript:void(0);">
							<h3 class="text-center">+</h3>
							<h2 class="text-center hotel_name">Add a new hotel</h2>
						</a>
					</div>
			    </div>
			  </div>
			</div>
		</div>

		<div class="clearfix"></div>

	</div>	 
</section>
</div>