<div ng-controller="step3Controller as step3Ctlr">
<form name="step3Form" ng-submit="step3FormSubmit(step3Form.$valid)" novalidate ng-show="!forget">
	<div class="deprtment_list">

		<ul class="clearfix">
			<li ng-repeat="department in defaultDepartment" style="margin-top: 0;">


				<div class="yellowlay clearfix">
					<div class="pull-left">
						<ng-md-icon icon="home" style="fill:#747677" size="22"></ng-md-icon> 
						{{department.department_name}} ({{department.abbreviation}})
						

					</div>
					<div class="pull-right right_check_lay">
						<md-checkbox ng-model="step3Ctlr.department_select[department.abbreviation]"  aria-label="Checkbox 1" ng-true-value="{{department}}" ng-false-value="false" ng-checked="{{(($root.hotelStatus.departments)[0])
? (($root.hotelStatus.departments | filter:{abbreviation:department.abbreviation})[0].abbreviation == department.abbreviation)
:(department.checked)?true:false}}" aria>
		       			</md-checkbox>
						<!-- <ng-md-icon icon="mode_edit" style="fill:#59c1f6" size="20"></ng-md-icon>  -->
					</div>
				</div>
			</li>
		</ul>

		

		<div class="step_emp_tab_content_inner" ng-show="addnewdept">
		<br>
			<table class="step_emp_tab_table" cellpadding="0" cellspacing="0" border="0">
				<thead>
					<tr>  
						<th width="50%">Department Name</th>
						<th width="50%">Abbreviation</th>								
						
					</tr>
				</thead>
				
				<tbody>
					<tr>

						<td>
							<md-input-container md-no-float class="md-block">
								<input  ng-model="new_department_name" placeholder="Department Name" autocomplete="off">
							</md-input-container>

						</td>

						<td>
							<md-input-container md-no-float class="md-block">
								<input   ng-model="new_abbreviation" placeholder="Abbreviation"  autocomplete="off">
							</md-input-container>
						
						</td>

					</tr>

				</tbody>
			</table>

			<div class="chane_pass_btn">			
				<a class="md-primary addyellobtn yellowbtn md-button md-ink-ripple" ng-click="addNewDepartment()">Add</a> 
			</div>

			<div class="chane_pass_btn">			
				<a class="md-primary addyellobtn graybtn md-button md-ink-ripple" ng-click="addnewdept = !addnewdept ">Cancel</a> 
			</div>						
			
		</div>

		<a href="javaScript:void(0)" class="emp_add_more_field" ng-hide="addnewdept" ng-click="addnewdept = !addnewdept ">+ Add More department</a>

	</div>
	<br>
	

	<div class="clearfix mar-top20"  style="text-align: right;">
		<div class="chane_pass_btn">
			<md-button  ng-click="navigateBack()" class="md-primary addyellobtn graybtn" >PREVIOUS</md-button>
		</div>	
		<div class="chane_pass_btn">
			<md-button  type="submit" class="md-primary addyellobtn yellowbtn">NEXT</md-button> 
		</div>
	</div>
</form>
</div>
		