<div ng-controller="step1Controller">
<form name="step1Form" ng-submit="step1FormSubmit(step1Form.$valid)" novalidate ng-show="!forget">
	<div class="row aligninput">
		<div class=" col-md-3 col-sm-3">
			<md-input-container class="md-block" aria-label="Checkbox 1">
		    <input  name="hotelname"  ng-model="hotelname" ng-required="true"  placeholder="Hotel Name">
		  </md-input-container>
		</div>
		<div class=" col-md-3 col-sm-3">
			<md-input-container class="md-block">
		    <input  ng-model="ownername" ng-required="true" placeholder="Owner Entity" ng-required="true">
		  </md-input-container>
		</div>
		<div class=" col-md-3 col-sm-3">
			<md-input-container class="md-block" aria-label="Checkbox 1">
		    <input  ng-model="phone" ng-required="true" placeholder="Hotel Phone Number">
		  </md-input-container>
		</div>
		<div class=" col-md-3 col-sm-3">
			<md-input-container class="md-block" aria-label="Checkbox 1">
		    <input  type="email"  ng-model="email" placeholder="Email Address" ng-required="true">
		  </md-input-container>
		</div>
		<div class="col-md-9 col-sm-9">
			<md-input-container class="md-block" aria-label="Checkbox 1">
		    <input  ng-model="address" placeholder="Address" ng-required="true">
		  </md-input-container>
		</div>

		<div class="col-md-3 col-sm-3">
	        
	        <md-input-container md-no-float class="md-block" aria-label="Checkbox 1"> 
	            <md-select ng-model="currency" placeholder="Currency" ng-required="true">
	              <md-option ng-repeat="(key,value) in currencyList" value="{{value.symbol}}">
	                {{value.symbol}} ({{key}})
	              </md-option>                              
	            </md-select>
	            
	        </md-input-container>
	    </div>
	    <div class="clearfix"></div>
		<div class=" col-md-3 col-sm-3">
			<md-input-container class="md-block">
		    <input  ng-model="city" placeholder="City">
		  </md-input-container>
		</div>
		<div class=" col-md-3 col-sm-3">


		  <md-input-container md-no-float class="md-block">
			    <md-select ng-model="country" placeholder="Country" ng-change="populateState(country)">
			      <md-option ng-repeat="country in countryList" value="{{country}}"> 
			      	{{country}}
			      </md-option>
			   
			</md-input-container>
		</div>
		<div class=" col-md-3 col-sm-3">
			<md-input-container md-no-float class="md-block">
			    <md-select ng-model="state"  placeholder="State">
			      <md-option ng-repeat="stateN in stateList" value="{{stateN}}"> 
			      	{{stateN}}
			      </md-option>
			    </md-select>
			</md-input-container>
		</div>
		<div class=" col-md-3 col-sm-3">
			<md-input-container class="md-block" ara>
		    <input  ng-model="zipcode" placeholder="Zipcode">
		  </md-input-container>
		</div>
	
		<div class="col-sm-12">
			<div class="uplaod_area" ngf-multiple="true" ng-model="files"   ngf-max-size="5MB" ngf-drag-over-class="'dragover'" ngf-allow-dir="true" ngf-drop>

			<img src="{{'images/hotel/'+_id+'/cover/'+image}}" style="max-width: 100%" ng-if="image" class="inside_cover_image">

			<ul class="inside_cover_image clearfix" ng-if="!image">
			    <li ng-repeat="f in uploaedImgage" ng-if="$index == 0"> 	
			    <br>

			     <img ngf-thumbnail="f || 'assets/images/defaultjot.jpg'" style="max-width: 100%" class="inside_cover_image">
			   
			        <br>             
			    </li>               
			</ul>	

				<div class="drop_desc">
					Drag and drop cover image here
				</div>
					<br>
					or
					<br>
				<div class="select_files" ngf-select ="uploadCover($files, $invalidFiles)" ngf-allow-dir="true" ngf-multiple="false" ngf-max-size="5MB">
					Select files
				</div>				
			</div>			 			
		</div>
		
		<div class="col-md-12 ">
			<br>			
         		<md-checkbox aria-label="Checkbox" ng-model="terms" name="terms" ng-true-value="true" ng-false-value="false"  ng-checked="checked">
         		I accept the terms and conditions
		    </md-checkbox>
        </div>
	</div>
	<div class="clearfix mar-top20"  style="text-align: right;">
			
		<div class="chane_pass_btn">
			<md-button type="submit" class="md-primary addyellobtn yellowbtn">NEXT</md-button> 
		</div>
	</div>
</form>
</div>
		