<md-dialog class="newhotel_dialog">
<md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Edit Contact Information</h2>
        <span flex></span>
        <md-button class="md-icon-button" aria-label="close" closepopup ng-click="closePopUpByDirective();">
          <ng-md-icon icon="close" style="fill:#a5a7a7" size="24"></ng-md-icon>
        </md-button>
      </div>
</md-toolbar>

<div class="dash_pro_inform lost_panel">
	<form name="editContactNumberform" ng-submit="editContactNumber(editContactNumberform.$valid)" novalidate>

			<div class="dash_pro_inform_inner boxunoversal">
				<div class="row mar-bot20 aligninput">
					<div class="col-sm-3">
						<md-input-container  class="md-block">
					    <input  ng-model = "first_name" placeholder="First Name"  ng-required="true">
					  </md-input-container>
					</div>
					<div class="col-sm-3">
						<md-input-container  class="md-block">
					    <input  ng-model="last_name" placeholder="Last Name"  ng-required="true">
					  </md-input-container>
					</div>
					<div class="col-sm-3">
						<md-input-container  class="md-block">
					    <input  ng-model="contact" type="tel" placeholder="Contact Number"  ng-required="true">
					  </md-input-container>
					</div>					
					<div class="col-sm-3">
						<md-input-container  class="md-block">
					    <input  ng-model="email" type="email" placeholder="Email Address">
					  </md-input-container>
					</div>
					<div class="col-sm-12">
						 <md-chips ng-model="ctrl.itemTagModel" name="itemTag" readonly="ctrl.readonly"
	                    md-removable="ctrl.removable" placeholder="#Item tag" class="tag_name">
	                    <md-chip-template>
	                       <span class="entered_tags">{{$chip}}</span>
	                    </md-chip-template>
	                 </md-chips>
					</div>
				</div>
				<div class="clearfix">
					<div class="chane_pass_btn">
						<md-button type="submit" class="md-primary addyellobtn yellowbtn">submit</md-button>  
					</div>					
				</div>				
			</div>
			</form>
	</div>

</md-dialog>


