<div class="dash-main-con">
	<section class="dashrightsection aligninput" ng-class="{'leftopen':leftopen}">
		
		<div class="dash_hd_txt mar-bot20 clearfix">
			<div class="dash_hd mar-bot0 dash_hd-left">Add Contact</div>
			<div class="rightfilter_right">
				<div class="chane_pass_btn_right">					
			     <md-button  slide-toggle="#ContactNum" ng-class="{activebtn:invForm}" ng-click="invForm = !invForm; blank();" class="md-primary addyellobtn yellowbtn widthauto custom-transition">				
					{{(invForm)?"Close":"Add Contact"}}
				</md-button>
				</div>
		  </div>    
		</div>

		<div class="dash_pro_inform slideable lost_panel" id="ContactNum">
		<form name="addContactNumberform" ng-submit="addContactNumber(addContactNumberform.$valid)" novalidate>

			<div class="dash_pro_inform_inner boxunoversal">
				<div class="row mar-bot20">
					<div class="col-sm-3">
						<md-input-container  class="md-block">
					    <input  ng-model = "first_name" placeholder="First Name"  ng-required="true">
					  </md-input-container>
					</div>
					<div class="col-sm-3">
						<md-input-container  class="md-block">
					    <input  ng-model="last_name" placeholder="Last Name"  ng-required="true">
					  </md-input-container>
					</div>
					<div class="col-sm-3">
						<md-input-container  class="md-block">
					    <input  ng-model="contact" type="tel" placeholder="Contact Number"  ng-required="true">
					  </md-input-container>
					</div>					
					<div class="col-sm-3">
						<md-input-container  class="md-block">
					    <input  ng-model="email" type="email" placeholder="Email Address">
					  </md-input-container>
					</div>

					<div class="col-sm-12">
						 <md-chips ng-model="ctrl.itemTagModel" name="itemTag" readonly="ctrl.readonly"
	                    md-removable="ctrl.removable" placeholder="#Item tag" class="tag_name">
	                    <md-chip-template>
	                       <span class="entered_tags">{{$chip}}</span>
	                    </md-chip-template>
	                 </md-chips>
					</div>
				</div>
				<div class="clearfix">
					<div class="chane_pass_btn">
						<md-button type="submit" class="md-primary addyellobtn yellowbtn">submit</md-button>  
					</div>					
				</div>
				
			</div>
			</form>
		</div>

		<div class="clearfix depart_midle">
			<div class="deptsrch">
				<div class="deptsrch_gray_top mar-bot0 clearfix">
					<div class="positionrel inventory_filter_top">
					<div class="row ">
					<div class="col-sm-8">
						<div class="vending_left_top_serch positionrel">
							<md-input-container  class="md-block">
					      <input  ng-model="searchcontact" placeholder="Search contact by name" autocomplete="off">
					  	</md-input-container>
					  	
						</div>	
						</div>
						<div class="col-sm-3">
						<div class="selectwhite">
				          <md-input-container md-no-float class="md-block selectgeneral48">
				              <md-select ng-model="searchFavorite" placeholder="Filter">
				                <md-option value="">
				                  All
				                </md-option>
				                <md-option value="yes">
				                  Favorite
				                </md-option>				               
				              </md-select>          
				          </md-input-container>
			  			</div>	
			  			</div>



			  			<div class="col-sm-1" style=" padding:10px 10px 0 5px;text-align:right; cursor: pointer;" ng-click="searchFavorite = searchcontact  = ''" title="Reset filters">
							<img src="assets/images/reset_filter.png" style="width: 30px;">
						</div>
			  			</div>

					</div>
				</div>
			</div>
			<div class="doc_center">
				<div class="doc_center_row">
					<!-- ng-repeat="contList in filteredemp = (ContactList | contactfilter:this)" -->

					<div class="doc_center_col4"  ng-repeat="contList in filteredemp = (ContactList | contactfilter:this | filter:(!!searchFavorite || undefined) && {favorite: searchFavorite})" ng-hide="hidecontact">


						<div class="doc_center_col_top">
							<span> 
							{{contList.first_name}}  {{contList.last_name}}
							</span>

							<span> 
								<ng-md-icon class="cursor"  style="fill:#ff651a" icon="{{(contList.favorite == 'yes' )?'favorite':'favorite_border'}}" size="22" ng-click="makeFavorite(contList);"  title="{{(contList.favorite == 'yes' )?'Remove from favourite list':'Add to favourite list'}}"></ng-md-icon>

								 <ng-md-icon class="cursor" icon="mode_edit" style="fill: #4d4d4d" size="21" ng-click="openEditContact(contList);"  title="Edit"></ng-md-icon>  

								 <ng-md-icon class="cursor closr_icon tableredtag" icon="close" class="cursor"  size="22"  title="Delete" confirmed-click="removeContact(contList._id,$index)" ng-confirm-title="Delete Contact" ng-confirm-delete="Are you sure you want to remove this contact."></ng-md-icon>
							 </span>
						</div>

						<div class="doc_center_col_mid">
							<div class="call_no">
								<ng-md-icon class="" icon="call" size="18"></ng-md-icon>  {{contList.contact}}
							</div>
							
							<div class="call_no">
								<ng-md-icon ng-if="contList.email" class="" icon="email" size="18"></ng-md-icon>  {{contList.email}}
							</div>
						
							<ul class="taginglist clearfix" ng-if="contList.tags.length"  style="margin-left: 0px;">
								<li ng-repeat="tag in contList.tags" style="background: #4ebdf6">
									{{tag}}
								</li>
							</ul>
						</div>
					</div>
					
				</div>

				<div ng-show="!filteredemp.length" class="itemnotfound">
               	 	No contact found.              
         		</div>
			</div>
		</div> 
		
	</section>
</div>