<div class="dash-main-con">
	<section class="dashrightsection" ng-class="{'leftopen':leftopen}">
		
		<div class="dash_hd_txt mar-bot20 clearfix">
			<div class="dash_hd mar-bot0 dash_hd-left">Add Contact</div>
			<div class="rightfilter_right">
				<div class="chane_pass_btn_right">					
			     <md-button  slide-toggle="#ContactNum" ng-class="{activebtn:invForm}" ng-click="invForm = !invForm; blankFields();" class="md-primary addyellobtn yellowbtn widthauto custom-transition">				
					{{(invForm)?"Close":"Add Contact"}}
				</md-button>
				</div>
		  </div>    
		</div>

		<div class="dash_pro_inform slideable lost_panel" id="ContactNum">
		<form name="addContactNumberform" ng-submit="addContactNumber(addContactNumberform.$valid)" novalidate>

			<div class="dash_pro_inform_inner boxunoversal">
				<div class="row mar-bot20">
					<div class="col-sm-3">
						<md-input-container md-no-float class="md-block">
					    <input  ng-model = "first_name" placeholder="First Name">
					  </md-input-container>
					</div>
					<div class="col-sm-3">
						<md-input-container md-no-float class="md-block">
					    <input  ng-model="last_name" placeholder="Last Name">
					  </md-input-container>
					</div>
					<div class="col-sm-3">
						<md-input-container md-no-float class="md-block">
					    <input  ng-model="contact" type="tel" placeholder="Contact Number">
					  </md-input-container>
					</div>					
					<div class="col-sm-3">
						<md-input-container md-no-float class="md-block">
					    <input  ng-model="email" type="email" placeholder="Email Address">
					  </md-input-container>
					</div>

					<div class="col-sm-12">
						 <md-chips ng-model="ctrl.itemTagModel" name="itemTag" readonly="ctrl.readonly"
	                    md-removable="ctrl.removable" placeholder="#Item tag" class="tag_name">
	                    <md-chip-template>
	                       <span class="entered_tags">{{$chip}}</span>
	                    </md-chip-template>
	                 </md-chips>
					</div>
				</div>
				<div class="clearfix">
					<div class="chane_pass_btn">
						<md-button type="submit" class="md-primary addyellobtn yellowbtn">submit</md-button>  
					</div>					
				</div>


				<div class="message {{ContactResult.class}}" ng-if="ContactResult.status == 1">{{ContactResult.message}}
				</div>

				<div class="result {{ContactResult.class}}" ng-if="ContactResult.status==2">    
	                <ul>
	                  <li ng-repeat="(key,value) in ContactResult.errors">
	                  {{value.message}}
	                  </li>
	                </ul>
	            </div>
			</div>
			</form>
		</div>

		<div class="clearfix depart_midle">
			<div class="deptsrch">
				<div class="deptsrch_gray_top mar-bot0 clearfix">
					<div class="positionrel inventory_filter_top">
						<div class="vending_left_top_serch positionrel">
							<md-input-container md-no-float class="md-block">
					      <input  ng-model="searchcontact" placeholder="Search contact by name" autocomplete="off">
					  	</md-input-container>
					  	
						</div>	

						<div class="selectwhite inventory_filter">
				          <md-input-container md-no-float class="md-block selectgeneral38">
				              <md-select ng-model="searchFavorite" placeholder="Filter">
				                <md-option value="">
				                  All
				                </md-option>
				                <md-option value="yes">
				                  Favorite
				                </md-option>
				               <!--  <md-option value="no">
				                  Non-Favorite
				                </md-option> -->
				              </md-select>          
				          </md-input-container>
			  			</div>					
					</div>
				</div>
			</div>
			<div class="doc_center">
				<div class="doc_center_row">
					<!-- ng-repeat="contList in filteredemp = (ContactList | contactfilter:this)" -->

					<div class="doc_center_col4"  ng-repeat="contList in filteredemp = (ContactList | contactfilter:this | filter:(!!searchFavorite || undefined) && {favorite: searchFavorite})" ng-hide="hidecontact">


						<div class="doc_center_col_top">
							<span> 
							{{contList.first_name}}  {{contList.last_name}}
							</span>

							<span> 
								<ng-md-icon class="cursor"  style="fill:#ff651a" icon="{{(contList.favorite == 'yes' )?'favorite':'favorite_border'}}" size="22" ng-click="makeFavorite(contList);"></ng-md-icon>

								 <ng-md-icon class="cursor" icon="mode_edit" style="fill: #4d4d4d" size="21" ng-click="openEditContact(contList);"></ng-md-icon>  

								 <ng-md-icon class="cursor closr_icon tableredtag" icon="close" class="cursor"  size="22" ng-click="removeContact(contList);hidecontact = ! hidecontact"></ng-md-icon>
							 </span>
						</div>

						<div class="doc_center_col_mid">
							<div class="call_no">
								<ng-md-icon class="" icon="call" size="18"></ng-md-icon>  {{contList.contact}}
							</div>
							
							<div class="call_no">
								<ng-md-icon ng-if="contList.email" class="" icon="email" size="18"></ng-md-icon>  {{contList.email}}
							</div>
						
							<ul class="taginglist clearfix" ng-if="contList.tags.length">
								<li ng-repeat="tag in contList.tags" style="background: #4ebdf6">
									{{tag}}
								</li>
							</ul>
						</div>
					</div>
					
				</div>

				<div ng-show="!filteredemp.length" class="itemnotfound">
               	 	No contact found.              
         		</div>
			</div>
		</div> 
		
	</section>
</div>