<section class="static_middle">
	<div class="About_banner" style="background: url('assets/images/aboutbanner.jpg') 0 0 no-repeat ; background-size: cover;">
		<h4>About Us</h4>
	</div>
</section>
<section class="static_middle_inner">
	<div class="container aboutpanel">
		<div class="row ">
			<div class="col-lg-12 ">
				<div class="mainhd text-center">Welcome to Our Hotel Jot</div>
				<div class="mainsubhd text-center">Lorem Ipsum is simply dummy text of the printing and typesetting. Ipsum is simply dummy text of the printing.</div>
				<div class="about_txt text-center">
					Lorem Ipsum is simply dummy text of the printing and typesettin industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknoawn. Lorem Ipsum is simply dummy text of the printing and typesettin industry. Lorem Ipsum is simply dummy text of the printing and typesettin industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknoAwn. Lorem Ipsum is simply dummy text of the printing Lorem Ipsum is simply dummy text of the printing and typesettin industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknoAwn. Lorem Ipsum is simply dummy text of the printing and typesettin industry. 
				</div>
			</div>
		</div>
		<div class="row about_img_lay">
			<div class="col-md-3 col-xs-6 imgbot20"><img class="width100" src="assets/images/about_img.jpg"></div>
			<div class="col-md-3 col-xs-6 imgbot20"><img class="width100" src="assets/images/upload_img1.jpg"></div>
			<div class="col-md-3 col-xs-6 imgbot20"><img class="width100" src="assets/images/upload_img2.jpg"></div>
			<div class="col-md-3 col-xs-6 imgbot20"><img class="width100" src="assets/images/upload_img3.jpg"></div>
		</div>
		<div class="row ">
			<div class="col-lg-12 ">
				<div class="about_txt text-center">
					Lorem Ipsum is simply dummy text of the printing and typesettin industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknoawn. Lorem Ipsum is simply dummy text of the printing and typesettin industry. Lorem Ipsum is simply dummy text of the printing and typesettin industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknoAwn. Lorem Ipsum is simply dummy text of the printing Lorem Ipsum is simply dummy text of the printing and typesettin industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknoAwn. Lorem Ipsum is simply dummy text of the printing and typesettin industry. 
				</div>
			</div>
		</div>		
	</div>
	<div class="container aboutpanel_blk" style="background: url('assets/images/aboutbanner_bot.jpg') 0 0 no-repeat ; background-size: cover;">
		<div class="row ">
			<div class="col-lg-12 ">
				<div class="mainhd text-center">Our Mission &amp; Vision</div>
				<div class="mainsubhd text-center">Lorem Ipsum is simply dummy text of the printing and typesetting. Ipsum is simply dummy text of the printing.</div>
				<div class="about_txt text-center">
					Lorem Ipsum is simply dummy text of the printing and typesettin industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknoawn. Lorem Ipsum is simply dummy text of the printing and typesettin industry. Lorem Ipsum is simply dummy text of the printing and typesettin industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknoAwn.
				</div>
			</div>
		</div>
	</div>
	<div class="container aboutpanel">
		<div class="row ">
			<div class="col-lg-12 ">
				<div class="mainhd text-center">Our Expert</div>
				<div class="mainsubhd text-center">Lorem Ipsum is simply dummy text of the printing and typesetting. Ipsum is simply dummy text of the printing.</div>
				<div class="about_txt text-center">
					Lorem Ipsum is simply dummy text of the printing and typesettin industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknoawn. Lorem Ipsum is simply dummy text of the printing and typesettin industry. Lorem Ipsum is simply dummy.
				</div>
				<div class="expert_con">
				<ul class="clearfix expert_con_list">
					<li>
						<div class="expertpic"><img src="assets/images/expertpic.jpg"></div>
						<div class="hoversec" layout="column" layout-align="center center">
							<div class="expertname">Alex Ryan </div>
							<span>Information Technology</span>
						</div>
					</li>
					<li>
						<div class="expertpic"><img src="assets/images/expertpic1.jpg"></div>
						<div class="hoversec" layout="column" layout-align="center center">
							<div class="expertname">Alex Ryan </div>
							<span>Information Technology</span>
						</div>
					</li>
					<li>
						<div class="expertpic"><img src="assets/images/expertpic2.jpg"></div>
						<div class="hoversec" layout="column" layout-align="center center">
							<div class="expertname">Alex Ryan </div>
							<span>Information Technology</span>
						</div>
					</li>
					<li>
						<div class="expertpic"><img src="assets/images/expertpic3.jpg"></div>
						<div class="hoversec" layout="column" layout-align="center center">
							<div class="expertname">Alex Ryan </div>
							<span>Information Technology</span>
						</div>
					</li>
					<li>
						<div class="expertpic"><img src="assets/images/expertpic4.jpg"></div>
						<div class="hoversec" layout="column" layout-align="center center">
							<div class="expertname">Alex Ryan </div>
							<span>Information Technology</span>
						</div>
					</li>
					<li>
						<div class="expertpic"><img src="assets/images/expertpic.jpg"></div>
						<div class="hoversec" layout="column" layout-align="center center">
							<div class="expertname">Alex Ryan </div>
							<span>Information Technology</span>
						</div>
					</li>
					<li>
						<div class="expertpic"><img src="assets/images/expertpic2.jpg"></div>
						<div class="hoversec" layout="column" layout-align="center center">
							<div class="expertname">Alex Ryan </div>
							<span>Information Technology</span>
						</div>
					</li>
					<li>
						<div class="expertpic"><img src="assets/images/expertpic4.jpg"></div>
						<div class="hoversec" layout="column" layout-align="center center">
							<div class="expertname">Alex Ryan </div>
							<span>Information Technology</span>
						</div>
					</li>
				</ul>
				</div>
			</div>
		</div>
	</div>	
</section>