<div class="clearfix">
    <!-- <div class="col-md-2 pull-right addyellobtn_noflot">
        <md-button class="md-primary addyellobtn graybtn" >CANCEL</md-button>
    </div> -->
    <div class="col-md-2 pull-right addyellobtn_noflot">
     
     <md-button type="submit" class="md-primary addyellobtn bluebtn" >SAVE</md-button>
    </div>
    <!-- 
    <div class="col-md-3 pull-left addyellobtn_noflot">
        <md-button class="md-primary addyellobtn yellowbtn" >ADD ANOTHER JOT</md-button>
    </div> -->
</div>