<div class="dash-main-con">

<!--middle panel -->
<section class="dashrightsection">
	
	<div class="dash_hd_hotel" >
		<div layout="row" layout-align="space-between center">
			<span>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span>
			<div ><a class="dash_extra_menu" href="javascript:;">Menu</a></div>
		</div>
	</div>
	<div class="dash_hd_txt" layout="row" layout-align="space-between center">
		<div class="dash_hd">Front-End Executive JOTs </div>
		<div class="rightfilter">
			<md-input-container md-no-float class="md-block">
	            <md-select ng-model="user.State" placeholder="Filter">
	              <md-option>
	              	India
	              </md-option>
	              <md-option>
	              	India
	              </md-option>
	            </md-select>
	        </md-input-container>
	    </div>    
	</div>
	<div class="clearfix row">

		

		<div class="col-lg-3 col-md-6" ng-repeat = 'jot in jots'>
			<div class="add_hotel_top" md-whiteframe="6">
				<div class="add_hotel_icon">
					
					<ng-md-icon icon="email" style="fill:#a3a3a3" size="24"></ng-md-icon>

					<label ng-if="jot._id" class="capitalize">					
					{{jot._id != 'false' && jot._id || 'Notype' }}
					<label>
				</div>

				<div class="add_hotel_room mar-bot20" ng-repeat = 'jotMessage in jot.jot_data'>
					<div class="add_hotel_room_inner">
						<div class="room_change" layout="row" layout-align="space-between center">
							<Span class="capitalize">{{jotMessage.jot_title}}</Span>
							<ng-md-icon icon="mode_edit" style="fill:#4d4d4d" size="18"></ng-md-icon> 
						</div>
						<ul class="taginglist clearfix">
							<li>metting</li>
							<li>clean</li>
							<li>room</li>
							<li>change room</li>
						</ul>
						<ul class="tim_list clearfix">
							<li><ng-md-icon icon="av_timer" style="fill:#7a7a7a" size="18"></ng-md-icon>

								{{ jotMessage.due_date | date: 'MMM d, y'}}

							</li>
							<li><ng-md-icon icon="playlist_add_check" style="fill:#7a7a7a" size="18"></ng-md-icon>3/5</li>
							<li><ng-md-icon icon="attach_file" style="fill:#7a7a7a" size="18"></ng-md-icon>2</li>
							<li><ng-md-icon icon="chat_bubble_outline" style="fill:#7a7a7a" size="18"></ng-md-icon>5</li>
						</ul>
						<ul class="housekepping_list clearfix">
							<img src="assets/images/house_keep.png"> <i>House Keeping</i>
						</ul>
					</div>
					<div class="add_hotel_room_proty" layout="row" layout-align="space-between end">
						<span class="highttag capitalize {{jotMessage.priority}}">{{jotMessage.priority}}</span>
						<span class="yellowtag">Open</span>
					</div>
				</div>

				
				<div class="cretejot_hotel"><a href="javascript:;"> Create a Jot </a></div>
			</div>
		</div>
		<!-- <div  ng-if="jots==''">
		  <div class="noresult">There is not jot available.</div>
		</div> -->

	
		
		
	</div>
</section>

</div>