<md-dialog class="newhotel_dialog aligninput">

  <md-toolbar>
      <div class="md-toolbar-tools">
        <h2> Create Your Jot</h2>
        <span flex></span>
        <md-button class="md-icon-button" aria-label="close" ng-click="close()">
          <ng-md-icon icon="close" style="fill:#a5a7a7" size="24"></ng-md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content>

        <div class="Quick_jot_list">
            <md-nav-bar
                md-selected-nav-item="currentNavItem"
                nav-bar-aria-label="navigation links">


                <md-nav-item 
                    ng-repeat="board in $root.jotTypes" 

                    md-nav-click="goto(board);" 
                    name="{{board}}"
                    value="jot" 
                    ng-class="{currentNav : $root.activeNav == board.id}" ng-if="(boards | filter:board.id).length">
                  
                    <span class="jot-type-popupimg" style='background: {{board.bgcolor}}'>                    
                    <img src="{{board.data}}" ng-if="board.icontype == 'image'">
                    </span>
                    <span class="tab_label">{{board.label}} </span>
                </md-nav-item> 
          
            </md-nav-bar>
        </div>        
        
        <div class="newhotel_dialog_form">
            <div class="row" ng-if="currentNavItem" jot-template="currentNavItem">
                <!--@ dynamic template -->
            </div>
        </div>        
    </md-dialog-content>  
</md-dialog>    