<md-dialog class="newhotel_dialog">

  <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>What do you want to write in JOT ?</h2>
        <span flex></span>
        <md-button class="md-icon-button" aria-label="close" ng-click="close()">
          <ng-md-icon icon="close" style="fill:#a5a7a7" size="24"></ng-md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content>

        <div class="Quick_jot_list">
            <md-nav-bar
                md-selected-nav-item="currentNavItem"
                nav-bar-aria-label="navigation links">
            <md-nav-item 
                ng-repeat="(jotKey,jotValue) in $root.jotTypes" 
                md-nav-click="goto(jotValue);" 
                name="{{jotValue}}"
                value="demo" 
                ng-class="{currentNav : $root.activeNav == jotValue.id}"
                >

              <ng-md-icon 
                icon="{{jotValue.src}}" 
                ng-if="jotValue.icontype == 'icon'" 
                style="fill:#a5a7a7">
                </ng-md-icon>
                <img src="{{jotValue.src}}" ng-if="jotValue.icontype == 'image'">
                <span class="tab_label">{{jotValue.label}}</span>
            </md-nav-item>          
            </md-nav-bar>
        </div>        
        
        <div class="newhotel_dialog_form" >

            <div class="row" ng-if="currentNavItem" jot-template="currentNavItem">
                
                <!--@ dynamic template -->
            </div>
        </div>
        
    </md-dialog-content>
  
</md-dialog>    