<div class="clearfix">
    <div class="jot_textarea">

    <div class="clearfix attachment_list" ng-include="'/modules/jot/views/attachment_list.html'"></div> 

        <md-input-container class="md-block">
            <textarea md-no-float class="md-block" ng-model="$root.jot_title" rows="5" aria-label="textarea" ng-required="true" id="jot_title" focus-title="titleFocus"  textareastaffsuggestion ="$root.staffList" textareastaffsuggestion-callback="callbackTitleStaff"  my-text="">
            </textarea>   
                                 
        </md-input-container>
        <div class="clearfix icon_list" ng-include="'/modules/jot/views/icons.html'"></div>

    </div>
</div>