<div class="clearfix" ng-include="'/modules/jot/views/task_datepicker.html'"></div>
<div class="clearfix" ng-include="'/modules/jot/views/staff.html'"></div>
<div class="clearfix" ng-include="'/modules/jot/views/department.html'"></div>
<div class="clearfix mar-bot20" ng-controller="taskCtlr">
	<div class="col-md-12">
	    <div class="clearfix" ng-include="'/modules/jot/views/checklist.html'"></div>
	    <div class="clearfix" ng-include="'/modules/jot/views/image.html'"></div>
	</div>
    <input type="hidden" name="jot_type" value="{{jot_type}}" ng-model="jot_type"> 
</div>


