<div ng-controller="taskDatepickerCtlr">
    <div class="clearfix">
        <div class="col-md-12">
            <md-radio-group ng-model="data.group1">
            <ul class="Pattern_radio clearfix">
                <li>
                    <md-radio-button value="onetime" ng-click="$root.taskTime = 'onetime'" class="md-primary">One Time</md-radio-button>
                </li>
                <li>
                    <md-radio-button value="recurring" ng-click="$root.taskTime = 'recurring'">Recurring</md-radio-button>
                </li>
            </ul>        
            </md-radio-group>
        </div>
    </div>

    <div class="clearfix mar-bot20" ng-if="$root.taskTime == 'onetime'">
        <div class="col-md-12">
            <div class="Selectdep_txt">If One Time Task:</div>
            <div class="clearfix">
                <div class="recurring_task positionrel" >
                    <md-datepicker ng-model="$root.onetime_date" md-open-on-focus md-hide-icons="triangle"  md-placeholder="Start date"></md-datepicker>
                </div>
            </div>
        </div>
    </div>  
    <div ng-if="$root.taskTime == 'recurring'">
        <div class="clearfix mar-bot20">
            <div class="col-md-12">
                <div class="Selectdep_txt">If Recurring Task:</div>
                <div class="clearfix">
                    <div class="recurring_task positionrel" >
                        <md-datepicker ng-model="$root.start_recurring_date" md-open-on-focus md-hide-icons="triangle"  md-placeholder="Start date"></md-datepicker>
                    </div>
                    <div class="recurring_task positionrel" >
                        <md-datepicker ng-model="$root.end_recurring_date" md-open-on-focus md-hide-icons="triangle"  md-placeholder="End date"></md-datepicker>
                    </div>
                </div>
            </div>
        </div>    
        <div class="clearfix mar-bot20">
            <div class="col-md-12">
                <div class="Selectdep_txt">Recurrance Pattern:</div>
                <ul class="Pattern clearfix">
                    <li ng-repeat="pattern in patterns">
                        <a href="javascript:void(0);" ng-click="patternShow(pattern);" ng-class="{active : $root.selectedPattern == pattern.id}">{{pattern.label}}</a>
                    </li>
                </ul>
            </div>
        </div>
       

        <div class="clearfix mar-bot20" >
            <div class="col-md-12">
                <div class="Selectdep_txt">{{selectedPatternDesc}}</div>

                <div class="daylisted" ng-class="$root.selectedPattern == 'daily'?'pattern_disable':''" ng-if="$root.selectedPattern == 'daily' || $root.selectedPattern == 'weekly'">
                        <md-checkbox ng-repeat="week in weeks" ng-value="{{week.value}}" ng-model="week.Selected"  aria-label="week.label"  ng-change="toggleWeek(week,week.value)" >
                            {{week.label}}
                        </md-checkbox>

                </div>

                <div class="daylisted {{patternClass}}" ng-if="$root.selectedPattern == 'monthly'">
               
                    <md-select ng-model="$root.monthly_recurring_date" placeholder="Select Date" class="md-no-underline">

                      <md-option ng-repeat="i in getDay(31) track by $index" value="{{$index+1}}">{{$index+1}}</md-option>                      
                    </md-select>                       

                </div>


                <div class="daylisted {{patternClass}}" ng-if="$root.selectedPattern == 'yearly'">
                    <div class="col-md-6">
                        <md-select ng-model="$root.yealy_month" placeholder="Select Month" class="md-no-underline">
                          <md-option ng-repeat="i in getMonth" value="{{i.value}}">{{i.label}}</md-option>                      
                        </md-select>  
                    </div>   

                    <div class="col-md-6">
                       <md-select ng-model="$root.yearly_day" placeholder="Select Date" class="md-no-underline">

                        <md-option ng-repeat="i in getDay(31) track by $index" value="{{$index+1}}">{{$index+1}}</md-option>                      
                    </md-select> 
                    </div>                   

                </div>

        </div>
    </div>
</div>