@media(max-width:1200px){
}

@media(max-width:1023px){
	.login_content{width: auto;}
	.leftlogbg, .rightlogin{width: 100%; float: none; height: auto;}
}
@media(max-width:767px){
	md-dialog {max-width: 100% !important;width: 100%;height: 100%;max-height: 100% !important;}
	.edit_water_left{width: 100%; float: none; margin-bottom: 20px;}
	.edit_water_right{idth: 100%; float: none;}
}

@media(max-width:479px){
.leftlogbg, .rightlogin{padding: 15px 10px;}
.loginHd{font-size: 22px;}
.loginHd p{font-size: 14px;}
.forgottxt{float: none!important; display: block;}
.leftlogbg .hellotxt{font-size: 28px; line-height: 35px;}
.hellosubtxt{margin-bottom: 20px;}
.dashrightsection{padding: 15px;}
.dash_home_header_logo{padding: 11px 10px;}
.addyellobtn_noflot{width: 100%; float: none!important; margin-bottom: 10px;}
.newhotel_dialog .md-toolbar-tools{padding: 0 15px;}
.newhotel_dialog_form, .Quick_jot_list{padding: 15px;}
.Quick_jot_list ul > li{width: 32%; margin-bottom: 5px;}
.Quick_jot_list ul > li > a{padding-bottom: 5px;}
.newhotel_dialog_form .date_due md-input-container .md-input{width: 100%;}
.date_due{width: 100%; float: none!important; }
.newhotel_dialog_form .date_due .md-datepicker-input-container{width: 100%;}
}