.left_side_menu{
  display: none;
}
a {
    cursor: pointer;
}

.jotworks_section {
    background: rgba(0, 0, 0, 0) url("../assets/images/work_bg.jpg") no-repeat scroll 0 0 / cover ;
    padding: 90px 0;
}

.left_side_menu.active{
  display: block;
}




.red, .add_hotel_room_proty .high{
  background: rgba(222, 74, 53, 0.9) !important;
  color: #fff !important;
}

.orange, .add_hotel_room_proty .urgent {
  background: rgba(222, 74, 53, 0.8) !important;
  color: #fff !important;
}

.yellow ,.add_hotel_room_proty .medium{
 background: rgba(222, 74, 53, 0.7) !important;
  color: #fff !important;
}

.green,.add_hotel_room_proty .low,.completed {
  background: rgba(222, 74, 53, 0.5) !important;
  color: #fff !important;
}
.scheduling td {
    background: rgba(239, 239, 237, 0.21);
}
.capitalize {
  text-transform: capitalize !important;
}

body {
  background: #4ebdf6 none repeat scroll 0 0;
}
.login_content {
  background: #fff none repeat scroll 0 0;
  margin: auto;
  padding: 0;
  width: 785px;
}
h2.hotel_header {
  color: #fff;
  font-weight: 700;
  margin: 0;
  padding: 50px 0;
  text-align: center;
}

.result.ng-binding {
    color: red;
    padding: 9px 0;
}

.signupform .rightlogin {
    height: 520px;
}

.rightlogin, .leftlogbg {
    height: 460px;
}
.signupform .rightlogin,.signupform  .leftlogbg {
    height: 815px;
}

.Autherror {
    color: #ff0000;
    opacity: 0.8;
    display: block;
    clear: both;
}
.Authsuccess {
  color: #228B22;
}
div.white-space-pre-line {
    white-space: pre-line;
}

.validation-message {
    color: red !important;
    padding: 10px 0 0 0;
}

.validation-message.Authsuccess {
    color: green !important
}

.noresult {
  color: green;
  font-size: 22px;
  text-align: center;
}

.login_content md-input-container.md-input-focused label {
  padding-left: 0 !important;
}

.md-input-has-value label.md-required {
  top: -23px !important;
  left: 0 !important;
  padding-left: 0!important
}

.result.Autherror li {
  list-style: outside none none;
  margin-left: 13px;
  vertical-align: top;
}

.result.Autherror ul {
  margin-top: 5px;
}

md-toast.success .md-toast-content,md-toast.Authsuccess .md-toast-content {
    background: #61bd4f none repeat scroll 0 0;
}
/*.newhotel_dialog_form md-input-container {
  margin: 13px 0 11px;
}*/


.jot_prity > li > a,.Jot_type > li > a {
  text-transform: capitalize;
}
.delete_hotel {
  cursor: pointer;
  position: absolute;
  right: 22px;
  top: 27px;
}


.hideHotel {
  transition: all linear 0.5s;
}

.ng-hide {
  background-color: transparent;
  opacity:0;
}

.chiildchecklist {
  margin-left: 35px;
}

.error {
    color: red;
    opacity: 0.8;
    padding: 8px 0 8px 0;
}


.nested .nested {
    margin-left: 20px;
}

.uploadimage_list > li .imgcon {
    cursor: pointer;
}

md-toast.ng-scope {
    position: fixed;
    bottom: 0;
}
.pattern_disable {
    pointer-events: none;
    opacity: 0.5;
}


.suggestions_list {
    background: #fff none repeat scroll 0 0;
    min-width: 100%;
    padding: 0;
    position: absolute;
    left: 2px;
    z-index: 999;
    top: 50px;
}
.suggestions_list ul,.suggestions_list_title ul {
    max-height: 300px;
    overflow-y: auto;
}
.suggestions_list li,.suggestions_list_title li {
    cursor: pointer;
    font-size: 16px;
    padding: 8px;
    width: 100% !important;
    float: none !important;
}


.suggestions_list li a,.suggestions_list_title li a {
    color: #444;
    font-size: 14px;
}
.suggestions_list li:hover,.suggestions_list_title li:hover {
    background: #2aaae0 none repeat scroll 0 0;
}
.suggestions_list li.active,.suggestions_list_title li.active {
    background: #2aaae0;
}

.suggestions_list li.active a,.suggestions_list_title li.active a {
    color: #fff;
}
.close_suggestion {
    font-size: 20px;
    position: absolute;
    right: 5px;
    top: 0;
}

md-dialog.md-default-theme, md-dialog {
    color: #444;
}

md-dialog > .EditMode {
    width: 500px;
    min-height: 200px;
}
md-dialog > .EditMode md-input-container.md-block {
    margin-bottom: 0;
}

md-dialog > .EditMode .suggestions_list {
    top: 50px;
}
/*.jot_prity > li > a:hover, .jot_prity > li > a.active {
  opacity: 0.7;
}*/
.message{
  margin-top: 5px;
  font-size: 12px;
}
/*md-select {
    background: #fff;
    padding: 10px;
}
*/
.tab_label {
    display: block;
}
.md-nav-bar {
  height: auto;
}
.jot_icon {
    position: relative;
    top: -3px;
}
.jotHead {
    margin-left: 5px;
}
.status.close {
    background: rgba(0,128,0,0.9) !important;
    opacity: 1;
    font-size: 14px;
    font-weight: normal;
    padding: 5px;
    line-height: normal;
    pointer-events: none;
}
.suggestions_list li.focused {
    background-color: #ccc;
}

.heder_srch md-input-container {
    margin: 0;
}
.heder_srch  md-input-container .md-errors-spacer{display: none;}
.heder_srch  md-input-container .md-input{margin-left: 0; color: #fff; height: 36px; font-style: italic; font-size: 15px; padding:5px 10px; background: rgba(255,255,255,0.5); border: 1px solid #9fdbfa; }
.heder_srch  md-input-container:not(.md-input-invalid).md-input-focused .md-input{border-color: #9fdbfa!important;}
.heder_srch {
  margin-top: 10px;
  float: left;
  width: 270px;
}

.search_icon {
    display: none;
}

.icon_list {
    bottom: 20px;
    position: absolute;
    right: 20px;
}
.icon_list > a {
    margin-right: 10px;
}
.uploadimage_list > li {
    width:45%;
}

.mentioned_menber_list {
    background: #fff none repeat scroll 0 0;
    min-width: 235px;
    padding: 0 0;
    position: absolute;
    right: 0;
    z-index: 99;
}
.mentioned_menber_list li {
    padding: 7px 9px;
}

.suggestions_list_title {
    background: #fff none repeat scroll 0 0;
    width: 235px;
    padding: 0;
    position: absolute;
    right: 2px;
    z-index: 999;
}

.member_filter {
    width: 100%;
    border: 1px solid #ccc;
    padding: 7px 5px;
}

.cirsularhide{display: none;}


.iconHover.logocircle .icon.link1{
    top: 180px;
    right: 102px;
}

.iconHover.logocircle .icon.link2{

    top: 166px;
    left: 48px;
  
}
.iconHover.logocircle .icon.link3{

    top: 167px;
    right: 53px;
  
}
.iconHover.logocircle .icon.link4{
  top: 128px;
    left: 25px;
}
.iconHover.logocircle .icon.link5{

  top: 130px;
  right: 28px;

}
.iconHover.logocircle .icon.link6{

  top: 84px;
    left: 22px;
  
}
.iconHover.logocircle .icon.link7{

    top: 85px;
    right: 27px;
  
}


a.create_new_jot_label {
    color: #4ebdf6;
    font-size: 16px;
    display: block;
    text-align: right;
}



.vending_left md-select,.vending_right md-select {
    padding: 0;
}


.rzslider .rz-pointer {
    top: -11px;
    width: 25px;
    height: 25px;
}

.rzslider .rz-pointer:after {
    top: 9px;
    left: 9px;
    width: 6px;
    height: 7px;
}


.chipsdemoBasicUsage .errors {
  font-size: 12px;
  color: #dd2c00;
  margin-top: 10px; }

.chipsdemoBasicUsage .custom-chips md-chip {
  position: relative; }
  .chipsdemoBasicUsage .custom-chips md-chip .md-chip-remove-container {
    position: absolute;
    right: 4px;
    top: 4px;
    margin-right: 0;
    height: 24px; }
    .chipsdemoBasicUsage .custom-chips md-chip .md-chip-remove-container button.vegetablechip {
      position: relative;
      height: 24px;
      width: 24px;
      line-height: 30px;
      text-align: center;
      background: rgba(0, 0, 0, 0.3);
      border-radius: 50%;
      border: none;
      box-shadow: none;
      padding: 0;
      margin: 0;
      transition: background 0.15s linear;
      display: block; }
      .chipsdemoBasicUsage .custom-chips md-chip .md-chip-remove-container button.vegetablechip md-icon {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate3d(-50%, -50%, 0) scale(0.7);
        color: white;
        fill: white; }
      .chipsdemoBasicUsage .custom-chips md-chip .md-chip-remove-container button.vegetablechip:hover, .chipsdemoBasicUsage .custom-chips md-chip .md-chip-remove-container button.vegetablechip:focus {
        background: rgba(255, 0, 0, 0.8); }

.chipsdemoBasicUsage .custom-chips md-chips-wrap.md-removable md-chip md-chip-template {
  padding-right: 5px; }



.lost_panel md-icon {
    margin: auto;
    background-repeat: no-repeat;
    display: inline-block;
    vertical-align: middle;
    fill: currentColor;
    height: 24px;
    width: 24px;
    min-height: 15px;
    min-width: 15px;
}



.lost_panel .md-chips md-chip .md-chip-remove md-icon {
    height: 11px;
    width: 16px;
    top: 33%;
    left: 55%;
    color: #fff;
}


.lost_panel .md-chips md-chip .md-chip-remove-container {
    position: absolute;
    right: 0;
    line-height: 12px;
}

.lost_panel .md-chips md-chip .md-chip-content {
    line-height: 22px;
}

.lost_panel .md-chips md-chip {
    height: 22px;
    line-height: 29px;
    margin: 8px 8px 0 0;
    background: #2aaae0;
    color: #fff;
}


.newhotel_dialog_form .lost_panel .tag_name .md-chips {
     min-height: 46px;  
     height: auto;   
}
.md-chips .md-chip-input-container input:not([type]){height: 46px}


.tag_name input.md-input {
    width: 100%;
}


._md-nav-bar-list button::after {
    background: #4ebdf6 none repeat scroll 0 0;
    content: "";
    height: 3px;
    left: 50%;
    position: absolute;
    top: 96%;
    transition: all 0.3s ease-in-out 0s;
    width: 0;
}

._md-nav-bar-list .currentNav button::after, ._md-nav-bar-list .currentNav button:hover::after {
    left: 0;
    width: 100%;
}

.Quick_jot_list md-nav-ink-bar {
    display: none !important;
}

.currentNav .md-button.md-default-theme.md-accent,.currentNav.currentNav  .md-button.md-accent {
    color: #4ebdf6;
}

.currentNav ng-md-icon.ng-scope {
    fill: #4ebdf6 !important;
}


.lost_found_picker{
    /*border: 1px solid #ddd;*/
    height: 48px;
    position: relative;
    
}
.lost_found_picker .md-datepicker-button{position: absolute!important; top:5px!important; margin-top: 0!important;right: 0;    z-index: 99;}
.lost_found_picker .md-datepicker-input-container{width: 100%; display: block; margin-left: 0;}
.newhotel_dialog_form lost_found_picker md-input-container .md-input{border: 0 !important;}
 


.itemnotfound {
    padding: 20px 0;
    text-align: center;
    color: #4ebdf6;
}
.mkcall {
    background: #ffbb42;
    color: #fff !important;
    border: 1px solid #ffbb42;
}
.selected {
    opacity: 0.6;
    pointer-events: none;
}
.done {
    float: right;
    display: none;
    position: relative;
    top: -2px;
}

.done.itemselected {
    float: right;
    display: inline-block;
}

.fullWidth {
    width: 100% !important;
    margin-right: 0 !important;
}
.jot_textarea{position: relative !important;}

.angularjs-datetime-picker {
    z-index: 999;
}

.vending_table .table_img {
    width: 60px;
    height: 60px;
}

.table_img img {
    width: 100%;
}
.payment_mode {
    padding: 10px 0 0px 25px;
    margin: 12px 0;
}

.activebtn {
    background: #000 !important;
}
.deptsrch_data_title {
    position: relative;
}
.icon_btn {
    position: absolute;
    right: 15px;
}
.invent_img {
    width: 90px !important;
    height: 90px !important;
}


.inventory_filter_top {
     padding-right:0; 
}

body .custom-transition{
    transition: all 0.7s 0.7s ease !important;
}

.center td,.center th {
    border-right: 1px solid #eee;
    text-align: center;
}
md-chips-wrap {
    border: 1px solid #eee;
    padding: 0 15px !important;
}
.md-chips .md-chip-input-container {
    float: none;
}
.nowidth li {
    width: auto;
}

.found_icon_btn {
    position: absolute;
    top: 10px;
    right: 0 !important;
    left: auto !important;
}

.right_arrow {
    float: right;
}
.left_arrow {
    float: left;
}
.schedule_arrow {
    position: relative;
    top: -13px;
    display: block;
    height: 45px;
    width: 45px;
}



.scheduling td:nth-child(2), .scheduling td:nth-child(2) div {
    color: #4ebdf6;
}


.progressCirculardemoBasicUsage body {
  padding: 20px; }

.progressCirculardemoBasicUsage h4 {
  margin: 10px 0; }

.progressCirculardemoBasicUsage md-progress-circular {
  margin-bottom: 20px; }

.progressCirculardemoBasicUsage #loaders > md-switch {
  margin: 0;
  margin-left: 10px;
  margin-top: -10px; }

.progressCirculardemoBasicUsage #loaders > h5 {
  margin-top: 0; }

.progressCirculardemoBasicUsage #loaders > p {
  margin-right: 20px;
  margin-bottom: 24px; }

.progressCirculardemoBasicUsage p.small {
  font-size: 0.8em;
  margin-top: -18px; }

.progressCirculardemoBasicUsage hr {
  width: 100%;
  margin-top: 20px;
  border-color: rgba(221, 221, 177, 0.1); }

.progressCirculardemoBasicUsage p.small > code {
  font-size: 0.8em; }

.progressCirculardemoBasicUsage .visible {
  border-color: rgba(221, 221, 177, 0); }

  .user_info {
    padding: 25px 30px;
}

.heading-left,.desc-right {
    float: left;
    padding: 10px;
    text-align: left;
}

.heading-left {
    color: #4ebdf6;
    width: 150px;
}

.newhotel_dialog.custom_size {
    width: auto;
}

.custom_padding {
    padding-left: 0 !important;
}

.newhotel_dialog.custom_size .md-toolbar-tools {
    padding-left: 0 !important;
    height: auto !important;
}

.custom_size md-toolbar{
      min-height: auto !important;
}



/*md-input-container.md-input-focused textarea.md-input {
    border: initial !important;
}*/
.favoriteCon{
  fill:#ff651a !important;
}

.hotel_drop {
    width: auto;
}
.uplaod_area {
    text-align: center;
    border: 3px dashed #ddd;
    background: #eee;
    padding: 30px;
    cursor: pointer;
}
.select_files {
    background: #ddd none repeat scroll 0 0;
    border-radius: 6px;
    margin: 20px auto 0;
    padding: 10px;
    width: 138px;
}
.FilesList {
    padding: 20px 26px;
}
.FilesList li {
    padding: 8px 0;
    border-bottom: 1px solid #ddd;
    display: block;
}
.FilesList li a {
    color: #4ebdf6;
}

.document_listed_files li {
    background: #eee;
    margin-top: 10px;
    padding: 10px;
    position: relative;
    float:none !important;
    display: inline-block !important;
}

.document_listed_files li ng-md-icon {
    transform: initial;
    padding: 0;
    height: initial;
    width: auto;
}


.document_listed_files li .doc_delete_icon {
    position: absolute;
    top: 7px;
    right: 3px;
}

.already_moved {
    padding-top: 5px;
    font-size: 15px;
    color: red;
    opacity: 0.7;
}


.acti_text_edit,.acti_text_ed {
    margin-left: 10px;
    position: relative;
    top: -1px;
}

.comment_images {
    display: inline-block;
    max-width: 100px;
    padding: 10px;
}

.comment_images img {
    max-width: 100%;
}

.newhotel_dialog_form {
    position: relative;
}
/**
 * Circle Styles
 */

.circle {
  position: relative;
  display: block;
  margin: 2em 0;
  background-color: transparent;
  color: #222;
  text-align: center;
  background-color: #ddd;
  border-radius: 100%;
}

.circle:after {
  display: block;
  padding-bottom: 100%;
  width: 100%;
  height: 0;
  border-radius: 50%;  
  content: "";

}

.circle__inner {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.circle__wrapper {
    display: table;
    width: 100%;
    height: 100%;
    margin: auto;
    border: 9px solid rgba(256,256,256,0.2);
    border-radius: 100%;
}

.circle__content {
  display: table-cell;
  padding: 1em;
  vertical-align: middle;
}


.hover_effect h4,.dash_hotel_top_new h2,.hover_effect_home h4 {
    font-size: 1.5em;
}

.circle_container {
    float: left;
    padding: 0;
    width: 23.5%;
    margin-right: 2%;
}
.circle_container:nth-child(4n){margin-right: 0;}

.circle__inner:hover .hover_effect {
    opacity: 0;
}

.hotel-list-icon{
  max-width:80%;
  margin: auto;
}

.hotel_action_btn {
    background: rgba(256,256,256,0.6);
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -55px;
    opacity: 0;
    padding: 30px 20px;
    cursor: initial;
    border-radius: 100%;
    margin-left: -55px;
    width: 110px;
    height: 110px;
}

.circle__inner:hover .hotel_action_btn {
    opacity: 1;
}

/*
.left_side_menu {
    background: rgba(0,0,0,0.6) !important;
}*/

.add_hotel_top {
    background: rgba(256,256,256,0.6) !important;
}

body {
    background: none !important;
}


/*section.dashrightsection{
 background: url('../assets/images/bg-img.png') 0 0 no-repeat;
 margin-left: 0 !important;
 padding-left: 100px !important;
}*/




.schedule_container {
    width: 500px;
}
.scheduling_field {
    padding: 20px 20px;
}

.field_label {
    padding: 20px 0;
    color: #444;
}


.addsche {
    background: #4ebdf6;
    color: #fff !important;
    padding: 0 5px;
    position: absolute;
    top: 4px;
    right: 6px;
    display: none;
}

td:hover  .addsche {
    display: block;
}


.deptsrch_data_table_lay tr th, .deptsrch_data_table_lay tbody tr td {
    border-top: 1px solid #eee;
}




.all_option_list > li .txtdrop {
    background: #444;
    border: 1px solid #444;
}

.all_option_list > li .txtdrop:before,.all_option_list > li .txtdrop:after {

    border-color: #444 transparent transparent transparent;
}

.scheduling th{
    background: #eee;
}

.colorswatch-cont {
    width: 300px;
    border: 10px solid #eee;
    text-align: center;
    background: #fff;
    border-radius: 2px;
    position: absolute;
    top: 100%;
    max-height: 149px;
    overflow-y: auto;
    transition: all 0.5s;
    height: 0;
}
.color-swatch {
    width: 20px;
    display: inline-block;
    border-radius: 100%;
    height: 20px;
    cursor: pointer;
    margin: 3px;
}

.fullHeight{height: 149px;}

.jot-type-popupimg {
    position: relative;
    width: 40px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    height: 40px;
    padding: 7px 6px;
    left: 0;
    top: 0;
    margin: auto;
    display: block;
}

.jot-type-popupimg img {
    width: 90%;
    vertical-align: top;
}



.slide-animate-container {
  position:relative;
  background:white;
  overflow:hidden;
}

.slide-animate {
  padding:10px 0;
}

.slide-animate.ng-enter, .slide-animate.ng-leave {
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;

  position:relative;
  top:0;
  left:0;
  right:0;
  bottom:0;
  display:block;
  padding:10px;
}

.slide-animate.ng-enter {
  left:100%;
}
.slide-animate.ng-enter.ng-enter-active {
  left:0;
}

.slide-animate.ng-leave {
  left:0;
}
.slide-animate.ng-leave.ng-leave-active {
  left:100%;
}
md-tabs.md-default-theme .md-tab.md-active, md-tabs .md-tab.md-active, md-tabs.md-default-theme .md-tab.md-active md-icon, md-tabs .md-tab.md-active md-icon, md-tabs.md-default-theme .md-tab.md-focused, md-tabs .md-tab.md-focused, md-tabs.md-default-theme .md-tab.md-focused md-icon, md-tabs .md-tab.md-focused md-icon {
    color: rgb(63,81,181);
}
md-tabs.md-default-theme md-ink-bar, md-tabs md-ink-bar {
    color: #00ccff;
    background: #00ccff;
}


.emp_add_more_field {
    color: #ffbb42;
    float: right;
    font-size: 18px;
    margin-top: 10px;
}
/*.body {
    position: relative;
}

.view {
    left: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    display: block;
}

.view.ng-enter,
.view.ng-leave {
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
.view.ng-enter {
    opacity: 0;
}
.view.ng-enter-active {
    opacity: 1;
}
.view.ng-leave {
    opacity: 1;
}
.view.ng-leave-active {
    opacity: 0;
}
*/

.popup_jot_title {
    width: 100%;
    border: 1px solid #eee;
    padding: 15px 15px;
}



.bglayout {
    position: fixed;
    background: rgba(0,0,0,0.6);
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
     -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
    z-index: 99;
}
.custom-popup {
    position: fixed;
    background: #fff;
    top: 50%;
    left: 50%;
    width: 500px;
    padding: 55px 25px 30px 25px;
    margin-left: -250px;
    border-radius: 3px;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
    margin-top: -100px;
    z-index: 999;
}



.popup-content {
    font-size: 18px;
    color: #444;
    padding: 0 0 30px 0;
    line-height: 25px;
    text-align: center;
}

.popup-content strong {
    font-weight: 700;
    font-size: 24px;
    color: #4ebdf6;
    padding-bottom: 0;
    display: block;
}

.popup-content a {
    color: #ffbb42;
}



.custom-popup .check {
    background: #4ebdf6 none repeat scroll 0 0;
    border-radius: 50%;
    color: white;
    font-size: 3.8rem;
    height: 70px;
    left: 50%;
    opacity: 0;
    padding-top: 14px;
    position: absolute;
    top: 0;
    transform: translate(-50%, -50%) scale(4);
    transition: transform 0.2s cubic-bezier(0.31, 0.25, 0.5, 1.5) 0.25s, opacity 0.1s ease-in-out 0.25s;
    width: 70px;
    text-align: center;
}

.custom-popup .scaledown {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
}

.custom-popup #ok {
    background: #4ebdf6 none repeat scroll 0 0;
    border: 0 none;
    border-radius: 6px;
    color: white;
    font-size: 1.7rem;
    height: 50px;
    outline: medium none;
    position: relative;
    transition: background 0.2s ease 0s;
    width: 100%;
}



.header_menu a.active {
    border-bottom: 2px solid #ffbb42;
}

.readmore {
    padding: 10px 20px;
}



.frontheder {
    position: fixed;
    top: 0;
    z-index: 2;
    background: #fff;
}

.static_middle {
    padding: 88px 10px;
}

.edit_water_left {
    background: none;


}

.edit_water_left_inner {
    background: #fff;
    margin-top: -28px;
}


.quickedit .jot_image_uploader {
    display: none;
}


/*.hotelsteps .md-input-invalid input {
    border-color: red !important;
}*/

.rightfilter_left {
    float: left;
        margin-top: 10px;
}
.currentStep .step_number {
    background: #42a147;
}
 .currentStep .label {
    color: #42a147;
}


.dash_step_panel ul li.currentStep::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px;
    height: 5px;
    width: 50%;
    background: #42a147;
}

.cssLabelCheck {
    background: url(../assets/images/check_ip.png) no-repeat 0 0px;
}

.cssCheck:checked + .cssLabelCheck.graycheck {
    background: url(../assets/images/check_iped.png) no-repeat 0 0px;
}

.cssCheck {
    position: absolute;
    z-index: initial;
    left: auto;
    height: 20px;
    width: 20px;
    overflow: hidden;
    opacity: 1;
    right: 8px;
}
md-checkbox.cssCheck .md-icon {
    background: #fff !important;
    border-color: #fff !important;
}


md-checkbox.md-default-theme.md-checked.cssCheck .md-icon:after, md-checkbox.cssCheck.md-checked .md-icon:after {
    border-color: #444;
}


.hotelDesc-in-comment{
  height: 0;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  overflow: hidden;
}
.hotelDesc-in-comment.expandDesc{
  height: auto;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  overflow: inherit;
}


.custom-button {
    background: #ffbb42;
    color: #fff !important;
    padding: 10px 16px;
    display: block;
    width: 90px;
    text-transform: uppercase;
    font-weight: 900;
    text-align: center;
}
.edit_water_right_list
{
  position: relative;
}
.right_edit_section {
    width: 350px;
    position: absolute;
    background: #fff;
    padding: 0 0 10px 0;
    right: -6px;
    box-shadow: 1px 8px 20px #444;
    z-index: 9;
    margin-top: 5px;
    border-radius: 3px;
}


.aligninput md-input-container.md-input-focused label {
    bottom: 94% !important;
    padding-left: 0!important;
}

.aligninput md-input-container label {
    display: block;
    font-size: 14px;
    font-weight: 400 !important;
    padding-left: 15px !important;
    bottom: 78% !important;
    display: block;
}

 md-input-container.md-input-has-value label, md-input-container.md-input-focused label
 {
  font-size: 16px;
 }


.aligninput md-input-container .md-input {
    padding: 15px !important;
    font-size: 15px;
    border: 0;
    background: #fff;
    height: 48px;
    border: 1px solid #dddddd!important;
}
md-menu-item.ng-scope {
    border-bottom: 1px solid #eee;
}


.payment_mode md-radio-button {
    display: inline-block;
    margin-right: 20px;
}
.aligninput .md-input-has-value label.ng-scope {
    top: -23px !important;
    left: 0 !important;
    padding-left: 0!important;
}


.selectgeneral48 md-select-value {
    height: 48px !important;
    padding: 0 10px 0 10px!important;
}
.selectgeneral48 {
    padding: 0;
    height: 48px;
    margin-bottom: 0!important;
}
.limitheight150{
      height: 150px !important;
}

body.md-toast-animating { overflow: auto !important; }
body.md-toast-animating.md-dialog-is-showing { overflow: hidden !important;max-height: inherit; }

.uploadimage_list_edit_itxt {
    word-wrap: break-word;
}

.newhotel_dialog_form md-input-container.selectgeneral_edit input[type="number"].md-input {
    padding-right: 0 !important;
}



/*


@media(max-width: 767px) {

   .circle_container {
        width: 49%;
    }
  .circle_container:nth-child(4n){margin-right: 2%;}
  .circle_container:nth-child(2n){margin-right: 0;}
  .circle{margin-top: 0px;}
  .dashrightsection{padding-top:125px!important;padding-left: 75px!important; margin-left: 0;  }
  .left_side_menu{padding-top:105px!important;}
  .dashrightsection.leftopen{padding-left: 65px; margin-left: 0; }
}


@media(max-width: 479px) {

   .circle_container {
        width: 100%;
    }

}*/

.newhotel_dialog_form md-input-container.selectgeneral_edit .md-input{padding: 4px 15px!important;} 
.newhotel_dialog_form md-input-container.selectgeneral_edit .md-errors-spacer{min-height: 0;}
.sidemenu{width: 30px;}
.pri_table {}
.pri_table th, .pri_table td {padding: 5px 0;}
.add_hotel_room_proty span{display: inline-block;}
/*.newhotel_dialog md-toolbar.md-default-theme:not(.md-menu-toolbar), .newhotel_dialog md-toolbar:not(.md-menu-toolbar){background: #4ebdf6!important;}
.newhotel_dialog .md-toolbar-tools h2{ color: #fff;}*/
/*md-toolbar{min-height: 50px;}*/