body {
  background: #4ebdf6 none repeat scroll 0 0;
}
.login_content {
  background: #fff none repeat scroll 0 0;
  margin: auto;
  padding: 0;
  width: 785px;
}
h2.hotel_header {
  color: #fff;
  font-weight: 700;
  margin: 0;
  padding: 50px 0;
  text-align: center;
}

.result.ng-binding {
    color: red;
    padding: 9px 0;
}

.signupform .rightlogin {
    height: 520px;
}

.rightlogin, .leftlogbg {
    height: 460px;
}
.signupform .rightlogin,.signupform  .leftlogbg {
    height: 540px;
}

.Autherror {
  color: #ff0000;
}
.Authsuccess {
  color: #228B22;
}
div.white-space-pre-line {
    white-space: pre-line;
}
