<section class="static_middle" id = "home">
    <!-- <data-owl-carousel class="owl-carousel" data-options="config">
      <div owl-carousel-item="" ng-repeat="item in ::[1,2,3,4,5]" class="item">
        <img src="assets/images/slider.jpg">
      </div>
    </data-owl-carousel> -->
    <div  class="item banner">
        <img src="assets/images/slider.jpg" style="width: 100%;">
    </div>

	<div class="about_section" id="about-us">
		<div class="container clearfix positionrel">
			<div class="ab_left">
				<h4>Welcome to Hotel Jot</h4>
				<i>Lorem Ipsum is simply dummy text of the printing and typesetting. Ipsum is simply dummy text of the printing.</i>
				<p>Lorem Ipsum is simply dummy text of the printing and typesettin industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown. Lorem Ipsum is simply dummy text of the printing and typesettin industry.</p>
				<a  class="md-primary readmore" href="/about-us">READ MORE</a> 
			</div>
			<div class="ab_right positionrel">
				<div class="homevid">
					<a href="javascript:;"><img src="assets/images/play_vid.png"></a>
				</div>
				<img src="assets/images/homevid_img.png" class="width100">
			</div>
		</div>

	</div>



	<!-- Work -->
	<div class="jotworks_section" id="work">
		<div class="container clearfix positionrel">
			<div class="statichd tac">
				<h4>Welcome to Hotel Jot</h4>
				<i>Lorem Ipsum is simply dummy text of the printing and typesetting. Ipsum is simply dummy text of the printing.</i>
			</div>
			<div class="work_lay">
				<ul class="work_lay_list">
					<li class="one">
						<div class="home_manage_pic"><img src="assets/images/home_manage.png"></div>
						<h5>user create task</h5>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec congue nibh, nec venenatis orci.</p>
					</li>
					<li class="two">
						<div class="home_manage_pic"><img src="assets/images/home_manage1.png"></div>
						<h5>user create task</h5>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec congue nibh, nec venenatis orci.</p>
					</li>
					<li class="three">
						<div class="home_manage_pic"><img src="assets/images/home_manage2.png"></div>
						<h5>user create task</h5>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec congue nibh, nec venenatis orci.</p>
					</li>
				</ul>
				<div class="work_lay_center">
					<img src="assets/images/work_lay.png">
				</div>
			</div>
		</div>
	</div>
	<!-- features -->
	<div class="feature_section"  id="feature">
		<div class="container clearfix positionrel">
			<div class="statichd blackhd tac">
				<h4>Our Features</h4>
				<i>Lorem Ipsum is simply dummy text of the printing and typesetting. Ipsum is simply dummy text of the printing.</i>
			</div>
			<div class="features_list">
				<ul class="features_listoptopn clearfix">
					<li>
						<div class="icon_left"><img src="assets/images/feature_icon1.png"></div>
						<h4>Lorem ipsum Dummy</h4>
						<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever 
						since the 1500s, when an unknown printer.</p>
					</li>
					<li>
						<div class="icon_left"><img src="assets/images/feature_icon2.png"></div>
						<h4>Lorem ipsum Dummy</h4>
						<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever 
						since the 1500s, when an unknown printer.</p>
					</li>
					<li>
						<div class="icon_left"><img src="assets/images/feature_icon.png"></div>
						<h4>Lorem ipsum Dummy</h4>
						<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever 
						since the 1500s, when an unknown printer.</p>
					</li>
					<li>
						<div class="icon_left"><img src="assets/images/feature_icon4.png"></div>
						<h4>Lorem ipsum Dummy</h4>
						<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever 
						since the 1500s, when an unknown printer.</p>
					</li>
					<li>
						<div class="icon_left"><img src="assets/images/feature_icon5.png"></div>
						<h4>Lorem ipsum Dummy</h4>
						<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever 
						since the 1500s, when an unknown printer.</p>
					</li>
					<li>
						<div class="icon_left"><img src="assets/images/feature_icon6.png"></div>
						<h4>Lorem ipsum Dummy</h4>
						<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever 
						since the 1500s, when an unknown printer.</p>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<!-- Work -->
	<div class="jotworks_section" id="testimonial">
		<div class="container clearfix positionrel">

			<data-owl-carousel class="owl-carousel" data-options="config">
		    	<div class="statichd tac" owl-carousel-item="" ng-repeat="item in ::[1,2,3,4,5,6,7,8,9]">
					<h4>Testimonials</h4>
					<i>Lorem Ipsum is simply dummy text of the printing and typesetting. Ipsum is simply dummy text of the printing.</i>
				</div>
		    </data-owl-carousel>

			
		</div>
	</div>

</section>