<md-dialog class="newhotel_dialog custom_size">
<md-toolbar>
      <div class="md-toolbar-tools custom_padding">
        <h2>
        <div class="show_profile_image">

			<label class="full_name capitalize" style="margin: 0 15px;">Report</label>
		</div></h2>

         <span flex></span>
        <md-button class="md-icon-button" aria-label="close" closepopup ng-click="closePopUpByDirective();">
          <ng-md-icon icon="close" style="fill:#a5a7a7" size="24"></ng-md-icon>
        </md-button>
      </div>
</md-toolbar>

<div class="user_info" style="padding: 15px;">

<div class="table_div">
        <table cellspacing="0" cellpadding="0" border="0" width="100%" class="vending_table">
         
          <tbody>
              <tr>
                    <td  style="vertical-align: top;">
                    	<strong>Customer Detail:</strong>

						<ul style="border-right: 1px solid #eee;">
							<li ng-if="recipient_first_name">
								<div class="heading-left">Name:</div>
								<div class="desc-right">{{recipient_first_name}} {{recipient_last_name}}</div>
								<div class="clearfix"></div>
							</li>

							<li ng-if="recipient_email">
								<div class="heading-left">Email Address:</div>
								<div class="desc-right"> <a href="mailto:{{email}}">{{recipient_email}}</a></div>
								<div class="clearfix"></div>
							</li>
							<li ng-if="recipient_contact_number">
								<div class="heading-left" >Contact Number:</div>
								<div class="desc-right"><a href="tel:{{recipient_contact_number}}">{{recipient_contact_number}}</a></div>
								<div class="clearfix"></div>
							</li>
							<li ng-if="recipient_address">
								<div class="heading-left">Address:</div>
								<div class="desc-right">{{recipient_address}}</div>
								<div class="clearfix"></div>
							</li>
						</ul>

                    </td>
                	<td  style="vertical-align: top;">
                       <strong>Booked By:</strong>
						<ul>

						<li ng-if="seller_detail[0].first_name">
							<div class="heading-left">Name:</div>
							<div class="desc-right"> {{seller_detail[0].first_name}} {{seller_detail[0].last_name}}</div>
							<div class="clearfix"></div>
						</li>
							
						<li ng-if="seller_detail[0].email">
							<div class="heading-left">Email Address:</div>
							<div class="desc-right"> <a href="mailto:{{seller_detail[0].email}}">{{seller_detail[0].email}}</a></div>
							<div class="clearfix"></div>
						</li>
						<li ng-if="seller_detail[0].contact_number">
							<div class="heading-left" >Contact Number:</div>
							<div class="desc-right"><a href="tel:{{seller_detail[0].contact_number}}">{{seller_detail[0].contact_number}}</a></div>
							<div class="clearfix"></div>
						</li>
						<li ng-if="seller_detail[0].departments.length">
							<div class="heading-left" >Department:</div>
							<div class="desc-right capitalize">
							
							<label ng-repeat="dept in seller_detail[0].departments">

								{{($root.departmentList | filter : {abbreviation : dept } : true)[0].department_name}}{{($index < departments.length-1)?",&nbsp;":''}}
							</label>
							</div>
							<div class="clearfix"></div>
						</li>

						<li ng-if="seller_detail[0].position != 'false'">
							<div class="heading-left" >Position:</div>
							<div class="desc-right capitalize">{{seller_detail[0].position.join(", ")}}</div>
							<div class="clearfix"></div>
						</li>
						</li>
						<li>
							<div class="heading-left">Status:</div>
							<div class="desc-right capitalize">{{seller_detail[0].status}}</div>
							<div class="clearfix"></div>
						</li>
						</ul>
              		</td>                                   
              </tr>



              <tr>
              	<td  style="vertical-align: top;">
              		<strong>Room Detail:</strong>
					<ul  style="border-right: 1px solid #eee;">

					<li ng-if="room_detail[0].room_number">
						<div class="heading-left">Room Number:</div>
						<div class="desc-right">{{room_detail[0].room_number}}</div>
						<div class="clearfix"></div>
					</li>
					<li ng-if="room_detail[0].dimension">
						<div class="heading-left" >Dimension:</div>
						<div class="desc-right">{{room_detail[0].dimension}}</div>
						<div class="clearfix"></div>
					</li>
					<li ng-if="room_detail[0].capacity">
						<div class="heading-left" >Capacity:</div>
						<div class="desc-right">{{room_detail[0].capacity}}</div>
						<div class="clearfix"></div>
					</li>
					<li ng-if="room_detail[0].cost">
						<div class="heading-left" >Cost:</div>
						<div class="desc-right">{{(room_detail[0].cost)?room_detail[0].cost:0 | currency}}</div>
						<div class="clearfix"></div>
					</li>
					<li ng-if="room_detail[0].facilities.length">
						<div class="heading-left" >Facilities:</div>
						<div class="desc-right capitalize">
						
						<ul>
							<li ng-repeat="facy in room_detail[0].facilities" title="{{facy}}" style="display: inline-block;    margin-right: 10px;">
									

									<img  src="{{'/images/hotel/'+hotel_id+'/facility/'+ ($root.facilityList | filter : {name : facy } : true)[0].image}}">
										
							</li> 
						</ul>

							</div>
							<div class="clearfix"></div>
						</li>
					</ul>

              	</td>

              	<td  style="vertical-align: top;">
                       <strong>Booking Detail:</strong>
						<ul>
							<li ng-if="reserved.from">
								<div class="heading-left">From:</div>
								<div class="desc-right">{{reserved.from | date : "EEE d MMM, yyyy h:m a"}} </div>
								<div class="clearfix"></div>
							</li>

							<li ng-if="reserved.to">
								<div class="heading-left">To:</div>
								<div class="desc-right">{{reserved.to | date : "EEE d MMM, yyyy h:m a"}} </div>
								<div class="clearfix"></div>
							</li>
							<li ng-if="recipient_contact_number">
								<div class="heading-left" >Booking Time:</div>
								<div class="desc-right">{{booking_time | date : "EEE d MMM, yyyy h:m a"}}</div>
								<div class="clearfix"></div>
							</li>
							
						</ul>
              		</td>              

              </tr>

              <tr>
              		<td style="vertical-align: top;"> 
              		
	              		<strong>Other Detail:</strong>

						<ul  style="border-right: 1px solid #eee;">
							<li ng-if="staff">
								<div class="heading-left">Staff:</div>
								<div class="desc-right">{{staff}} </div>
								<div class="clearfix"></div>
							</li>

							<li ng-if="payment">
								<div class="heading-left">Payment:</div>
								<div class="desc-right">{{payment}} </div>
								<div class="clearfix"></div>
							</li>

							<li ng-if="tags && tags.length">
								<div class="heading-left">Tags:</div>
								<div class="desc-right">{{tags.join(", ")}} </div>
								<div class="clearfix"></div>
							</li>

							<li ng-if="description">
								<div class="heading-left">description:</div>
								<div class="desc-right">{{description}} </div>
								<div class="clearfix"></div>
							</li>
									
						</ul>
	              	</td>

	              	<td style="vertical-align: top;text-align: center;"> 
              		
	              		<strong style="display: block;text-align: left;">Layout:
	              		 <span style="font-weight: 600;font-style: italic; margin-left: 10px;"> {{(roomStyleList | filter:{_id:room_layout_id})[0].name}} </span></strong>

	              		<img style="width: 100px;margin-top: 15px;" src="{{(roomStyleList | filter:{_id:room_layout_id})[0].src}}">

						
	              	</td>	

              </tr>
                        
          </tbody>
        </table>

      </div>










</div>

</md-dialog>