<section class="static_middle">
	<div class="About_banner" style="background: url('assets/images/aboutbanner.jpg') 0 0 no-repeat ; background-size: cover;">
		<h4>Frequently Asked Questions</h4>
	</div>
</section>

<section class="static_middle_inner">
	<div class="container aboutpanel">

		<v-accordion id="accordionA" class="vAccordion--default" control="accordionA">

        <v-pane id="{{ ::pane.id }}" ng-repeat="pane in panesA" expanded="pane.isExpanded">

          <v-pane-header id="{{ ::pane.id }}-header" aria-controls="{{ ::pane.id }}-content"> 
            <ng-md-icon  icon="add" class="plus accord_plus accord_icon" size="30" style="fill:#4ebdf6"></ng-md-icon>	
		    <ng-md-icon icon="remove" class="minus accord_minus accord_icon" size="30" style="fill:#fff"></ng-md-icon>
		    <span class="accord_heading">{{ ::pane.header }}</span>
          </v-pane-header>

          <v-pane-content id="{{ ::pane.id }}-content" aria-labelledby="{{ ::pane.id }}-header">
            <div style="padding:16px 16px 0 16px"><p>{{ ::pane.content }}</p></div>
           
          </v-pane-content>
        </v-pane>
      </v-accordion>

	</div>
</section>