<section class="static_middle">
	<div class="About_banner" style="background: url('assets/images/aboutbanner.jpg') 0 0 no-repeat ; background-size: cover;">
		<h4>Frequently Asked Questions</h4>
	</div>
</section>

<section class="static_middle_inner">
	<div class="container aboutpanel">
		<uib-accordion close-others="true">
		    <div uib-accordion-group class="faqaccord">
		    	<uib-accordion-heading>
		    		<ng-md-icon icon="add" class="plus" size="30"></ng-md-icon>	
		    		<ng-md-icon icon="remove" class="minus" size="30"></ng-md-icon>
		    		<span>Do I get to keep the bag?</span>
		    	</uib-accordion-heading>
	      	<div class="faqcontent">
	      		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sem lorem, venenatis eget mauris vitae, faucibus tincidunt elit. Phasellus nec quam eu quam pharetra suscipit faucibus at magna. Curabitur maximus nulla vitae tellus semper molestie.</p>
	      		<p>Aenean malesuada elementum erat vitae fermentum. Maecenas finibus dolor mi, vel pellentesque quam bibendum et. Morbi at ipsum lacus. Duis porttitor lectus enim, sed scelerisque erat placerat sollicitudin. Fusce blandit ac felis a venenatis. Vivamus sed ex quis lorem suscipit tincidunt eu ut ex.</p>
	      	</div>
		    </div>
		    <div uib-accordion-group class="faqaccord">
		    	<uib-accordion-heading>
		    		<ng-md-icon icon="add" class="plus" size="30"></ng-md-icon>	
		    		<ng-md-icon icon="remove" class="minus" size="30"></ng-md-icon>
		    		<span> How can I tell the weight of my laundry? </span>
		    	</uib-accordion-heading>
		      	<div class="faqcontent">
		      		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sem lorem, venenatis eget mauris vitae, faucibus tincidunt elit. Phasellus nec quam eu quam pharetra suscipit faucibus at magna. Curabitur maximus nulla vitae tellus semper molestie.</p>
		      		<p>Aenean malesuada elementum erat vitae fermentum. Maecenas finibus dolor mi, vel pellentesque quam bibendum et. Morbi at ipsum lacus. Duis porttitor lectus enim, sed scelerisque erat placerat sollicitudin. Fusce blandit ac felis a venenatis. Vivamus sed ex quis lorem suscipit tincidunt eu ut ex.</p>
		      	</div>
		    </div>
		    <div uib-accordion-group class="faqaccord">
		    	<uib-accordion-heading>
		    		<ng-md-icon icon="add" class="plus" size="30"></ng-md-icon>	
		    		<ng-md-icon icon="remove" class="minus" size="30"></ng-md-icon>
		    		<span> How can I tell the weight of my laundry? </span>
		    	</uib-accordion-heading>
		      	<div class="faqcontent">
		      		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sem lorem, venenatis eget mauris vitae, faucibus tincidunt elit. Phasellus nec quam eu quam pharetra suscipit faucibus at magna. Curabitur maximus nulla vitae tellus semper molestie.</p>
		      		<p>Aenean malesuada elementum erat vitae fermentum. Maecenas finibus dolor mi, vel pellentesque quam bibendum et. Morbi at ipsum lacus. Duis porttitor lectus enim, sed scelerisque erat placerat sollicitudin. Fusce blandit ac felis a venenatis. Vivamus sed ex quis lorem suscipit tincidunt eu ut ex.</p>
		      	</div>
		    </div>
		    <div uib-accordion-group class="faqaccord">
		    	<uib-accordion-heading>
		    		<ng-md-icon icon="add" class="plus" size="30"></ng-md-icon>	
		    		<ng-md-icon icon="remove" class="minus" size="30"></ng-md-icon>
		    		<span> How can I tell the weight of my laundry? </span>
		    	</uib-accordion-heading>
		      	<div class="faqcontent">
		      		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sem lorem, venenatis eget mauris vitae, faucibus tincidunt elit. Phasellus nec quam eu quam pharetra suscipit faucibus at magna. Curabitur maximus nulla vitae tellus semper molestie.</p>
		      		<p>Aenean malesuada elementum erat vitae fermentum. Maecenas finibus dolor mi, vel pellentesque quam bibendum et. Morbi at ipsum lacus. Duis porttitor lectus enim, sed scelerisque erat placerat sollicitudin. Fusce blandit ac felis a venenatis. Vivamus sed ex quis lorem suscipit tincidunt eu ut ex.</p>
		      	</div>
		    </div>
		    <div uib-accordion-group class="faqaccord">
		    	<uib-accordion-heading>
		    		<ng-md-icon icon="add" class="plus" size="30"></ng-md-icon>	
		    		<ng-md-icon icon="remove" class="minus" size="30"></ng-md-icon>
		    		<span> How can I tell the weight of my laundry? </span>
		    	</uib-accordion-heading>
		      	<div class="faqcontent">
		      		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sem lorem, venenatis eget mauris vitae, faucibus tincidunt elit. Phasellus nec quam eu quam pharetra suscipit faucibus at magna. Curabitur maximus nulla vitae tellus semper molestie.</p>
		      		<p>Aenean malesuada elementum erat vitae fermentum. Maecenas finibus dolor mi, vel pellentesque quam bibendum et. Morbi at ipsum lacus. Duis porttitor lectus enim, sed scelerisque erat placerat sollicitudin. Fusce blandit ac felis a venenatis. Vivamus sed ex quis lorem suscipit tincidunt eu ut ex.</p>
		      	</div>
		    </div>
		    <div uib-accordion-group class="faqaccord">
		    	<uib-accordion-heading>
		    		<ng-md-icon icon="add" class="plus" size="30"></ng-md-icon>	
		    		<ng-md-icon icon="remove" class="minus" size="30"></ng-md-icon>
		    		<span> How can I tell the weight of my laundry? </span>
		    	</uib-accordion-heading>
		      	<div class="faqcontent">
		      		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sem lorem, venenatis eget mauris vitae, faucibus tincidunt elit. Phasellus nec quam eu quam pharetra suscipit faucibus at magna. Curabitur maximus nulla vitae tellus semper molestie.</p>
		      		<p> Aenean malesuada elementum erat vitae fermentum. Maecenas finibus dolor mi, vel pellentesque quam bibendum et. Morbi at ipsum lacus. Duis porttitor lectus enim, sed scelerisque erat placerat sollicitudin. Fusce blandit ac felis a venenatis. Vivamus sed ex quis lorem suscipit tincidunt eu ut ex.</p>
		      	</div>
		    </div>
		    <div uib-accordion-group class="faqaccord">
		    	<uib-accordion-heading>
		    		<ng-md-icon icon="add" class="plus" size="30"></ng-md-icon>	
		    		<ng-md-icon icon="remove" class="minus" size="30"></ng-md-icon>
		    		<span> How can I tell the weight of my laundry? </span>
		    	</uib-accordion-heading>
		      	<div class="faqcontent">
		      		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sem lorem, venenatis eget mauris vitae, faucibus tincidunt elit. Phasellus nec quam eu quam pharetra suscipit faucibus at magna. Curabitur maximus nulla vitae tellus semper molestie.</p>
		      		<p>Aenean malesuada elementum erat vitae fermentum. Maecenas finibus dolor mi, vel pellentesque quam bibendum et. Morbi at ipsum lacus. Duis porttitor lectus enim, sed scelerisque erat placerat sollicitudin. Fusce blandit ac felis a venenatis. Vivamus sed ex quis lorem suscipit tincidunt eu ut ex.</p>
		      	</div>
		    </div>
		    <div uib-accordion-group class="faqaccord">
		    	<uib-accordion-heading>
		    		<ng-md-icon icon="add" class="plus" size="30"></ng-md-icon>	
		    		<ng-md-icon icon="remove" class="minus" size="30"></ng-md-icon>
		    		<span> How can I tell the weight of my laundry? </span>
		    	</uib-accordion-heading>
		      	<div class="faqcontent">
		      		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sem lorem, venenatis eget mauris vitae, faucibus tincidunt elit. Phasellus nec quam eu quam pharetra suscipit faucibus at magna. Curabitur maximus nulla vitae tellus semper molestie.</p>
		      		<p>Aenean malesuada elementum erat vitae fermentum. Maecenas finibus dolor mi, vel pellentesque quam bibendum et. Morbi at ipsum lacus. Duis porttitor lectus enim, sed scelerisque erat placerat sollicitudin. Fusce blandit ac felis a venenatis. Vivamus sed ex quis lorem suscipit tincidunt eu ut ex.</p>
		      	</div>
		    </div>
		    <div uib-accordion-group class="faqaccord">
		    	<uib-accordion-heading>
		    		<ng-md-icon icon="add" class="plus" size="30"></ng-md-icon>	
		    		<ng-md-icon icon="remove" class="minus" size="30"></ng-md-icon>
		    		<span> How can I tell the weight of my laundry? </span>
		    	</uib-accordion-heading>
		      	<div class="faqcontent">
		      		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sem lorem, venenatis eget mauris vitae, faucibus tincidunt elit. Phasellus nec quam eu quam pharetra suscipit faucibus at magna. Curabitur maximus nulla vitae tellus semper molestie.</p>
		      		<p>Aenean malesuada elementum erat vitae fermentum. Maecenas finibus dolor mi, vel pellentesque quam bibendum et. Morbi at ipsum lacus. Duis porttitor lectus enim, sed scelerisque erat placerat sollicitudin. Fusce blandit ac felis a venenatis. Vivamus sed ex quis lorem suscipit tincidunt eu ut ex.</p>
		      	</div>
		    </div>
		    <div uib-accordion-group class="faqaccord">
		    	<uib-accordion-heading>
		    		<ng-md-icon icon="add" class="plus" size="30"></ng-md-icon>	
		    		<ng-md-icon icon="remove" class="minus" size="30"></ng-md-icon>
		    		<span> How can I tell the weight of my laundry? </span>
		    	</uib-accordion-heading>
		      	<div class="faqcontent">
		      		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sem lorem, venenatis eget mauris vitae, faucibus tincidunt elit. Phasellus nec quam eu quam pharetra suscipit faucibus at magna. Curabitur maximus nulla vitae tellus semper molestie.</p>
		      		<p>Aenean malesuada elementum erat vitae fermentum. Maecenas finibus dolor mi, vel pellentesque quam bibendum et. Morbi at ipsum lacus. Duis porttitor lectus enim, sed scelerisque erat placerat sollicitudin. Fusce blandit ac felis a venenatis. Vivamus sed ex quis lorem suscipit tincidunt eu ut ex.</p>
		      	</div>
		    </div>
		    <div uib-accordion-group class="faqaccord">
		    	<uib-accordion-heading>
		    		<ng-md-icon icon="add" class="plus" size="30"></ng-md-icon>	
		    		<ng-md-icon icon="remove" class="minus" size="30"></ng-md-icon>
		    		<span> How can I tell the weight of my laundry? </span>
		    	</uib-accordion-heading>
		      	<div class="faqcontent">
		      		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sem lorem, venenatis eget mauris vitae, faucibus tincidunt elit. Phasellus nec quam eu quam pharetra suscipit faucibus at magna. Curabitur maximus nulla vitae tellus semper molestie.</p>
		      		<p>Aenean malesuada elementum erat vitae fermentum. Maecenas finibus dolor mi, vel pellentesque quam bibendum et. Morbi at ipsum lacus. Duis porttitor lectus enim, sed scelerisque erat placerat sollicitudin. Fusce blandit ac felis a venenatis. Vivamus sed ex quis lorem suscipit tincidunt eu ut ex.</p>
		      	</div>
		    </div>
		    <div uib-accordion-group class="faqaccord">
		    	<uib-accordion-heading>
		    		<ng-md-icon icon="add" class="plus" size="30"></ng-md-icon>	
		    		<ng-md-icon icon="remove" class="minus" size="30"></ng-md-icon>
		    		<span> How can I tell the weight of my laundry? </span>
		    	</uib-accordion-heading>
		      	<div class="faqcontent">
		      		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sem lorem, venenatis eget mauris vitae, faucibus tincidunt elit. Phasellus nec quam eu quam pharetra suscipit faucibus at magna. Curabitur maximus nulla vitae tellus semper molestie.</p>
		      		<p>Aenean malesuada elementum erat vitae fermentum. Maecenas finibus dolor mi, vel pellentesque quam bibendum et. Morbi at ipsum lacus. Duis porttitor lectus enim, sed scelerisque erat placerat sollicitudin. Fusce blandit ac felis a venenatis. Vivamus sed ex quis lorem suscipit tincidunt eu ut ex.</p>
		      	</div>
		    </div>
		</uib-accordion>
	</div>
</section>