<section class="static_middle">
	<div class="About_banner" style="background: url('assets/images/aboutbanner.jpg') 0 0 no-repeat ; background-size: cover;">
		<h4>DEMO PAGE</h4>
	</div>
</section>
<section class="static_middle_inner demopad300">
	<div class="container aboutpanel">
		<div class="row ">
			<div class="col-lg-12 ">
				<div class="mainhd text-center">Welcome to Our Hotel Jot</div>
				<div class="mainsubhd text-center">Lorem Ipsum is simply dummy text of the printing and typesetting. Ipsum is simply dummy text of the printing.</div>
				<div class="about_txt text-center">
					Lorem Ipsum is simply dummy text of the printing and typesettin industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknoawn. Lorem Ipsum is simply dummy text of the printing and typesettin industry. Lorem Ipsum is simply dummy text of the printing and typesettin industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknoAwn. Lorem Ipsum is simply dummy text of the printing Lorem Ipsum is simply dummy text of the printing and typesettin industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknoAwn. Lorem Ipsum is simply dummy text of the printing and typesettin industry. 
				</div>
			</div>
		</div>
	</div>
</section>
<section class="static_middle">
	<div class="demovidpanel">
		<div class="demovidcon positionrel md-whiteframe-8dp">
			<img class="width100" src="assets/images/vid_img.jpg">
			<div class="vid_icon"> 
				<a href="javascript:;">
					<img src="assets/images/vide_icon.png">
				</a>
			</div> 
		</div>
		<div class="aboutpanel">
			<div class="mainhd text-center">Start Your Demo Now</div>
			<div class="mainsubhd text-center">Lorem Ipsum is simply dummy text of the printing and typesetting. Ipsum is simply dummy text of the printing.</div>
			<div class="demoform contct_form">
				<div class="row">
					<div class="col-sm-6">
    					<md-input-container md-no-float class="md-block">
				            <input  ng-model="user.hotelName" placeholder="Name">
				         </md-input-container>
					</div>
					<div class="col-sm-6">
    					<md-input-container md-no-float class="md-block">
				            <input  ng-model="user.Email" placeholder="Email">
				         </md-input-container>
					</div>
					<div class="col-sm-6">
    					<md-input-container md-no-float class="md-block">
                            <textarea md-no-float class="md-block" ng-model="user.biography" rows="3" placeholder="Address 1" ></textarea>
                        </md-input-container>
    				</div>
    				<div class="col-sm-6">
    					<md-input-container md-no-float class="md-block">
                            <textarea md-no-float class="md-block" ng-model="user.biography" rows="3" placeholder="Address 2" ></textarea>
                        </md-input-container>
    				</div>
    				<div class="col-sm-12">
    					<md-input-container md-no-float class="md-block">
                            <textarea md-no-float class="md-block" ng-model="user.biography" rows="4" placeholder="Message" ></textarea>
                        </md-input-container>
    				</div>
    				<div class="col-sm-12 text-center">
    					<md-button class="md-primary widthautocenterbtn addyellobtn yellowbtn">Submit</md-button>
    				</div>
				</div>
			</div>
		</div>
	</div>
</section>