<section class="static_middle">		
		<div class="About_banner" style="background: url('assets/images/aboutbanner.jpg') 0 0 no-repeat ; background-size: cover;">
			<h4>Contact us</h4>
		</div>
</section>
<section class="static_middle_inner">
	<div class="container contactpanel ">
		<div class="clearfix contactpanel_inner md-whiteframe-10dp">
			<div class="conctleft">
				<div class="contcthd">Send a Message</div>
				<div class="contct_form row">
					<div class="col-md-12">
    					<md-input-container md-no-float class="md-block">
				            <input  ng-model="user.hotelName" placeholder="Email">
				        </md-input-container>
    				</div>
    				<div class="col-md-12">
    					<md-input-container md-no-float class="md-block">
				            <input  ng-model="user.hotelName" placeholder="Phone No.">
				        </md-input-container>
    				</div>
    				<div class="col-md-12">
    					<md-input-container md-no-float class="md-block">
				            <input  ng-model="user.hotelName" placeholder="Subject">
				        </md-input-container>
    				</div>
    				<div class="col-md-12">
    					<md-input-container md-no-float class="md-block">
                            <textarea md-no-float class="md-block" ng-model="user.biography" rows="4" placeholder="Message" ></textarea>
                        </md-input-container>
    				</div>
    				<div class="col-md-12">
    					<md-button class="md-primary widthautobtn addyellobtn yellowbtn" >Submit</md-button>
    				</div>
				</div>
			</div>
			<div class="conctright">
				<div class="positionrel">
					<img class="width100" src="assets/images/map_contct.jpg">
					<div class="map_cicle">
						<div class="absdress">
                        	<ul class="absdresslist">
                            	<li>
                                	<div class="contact_icon">
                                		<ng-md-icon icon="location_on" style="fill:#737a7a" size="30"></ng-md-icon> 
                                	</div>
                                    <div class="contact_icontxt">10660 Northgate Dr,  Palo Cedro,CA, 96073</div>
                                </li>
                                <li>
                                	<div class="contact_icon">
                                		<ng-md-icon icon="call" style="fill:#737a7a" size="30"></ng-md-icon> 
                                	</div>
                                    <div class="contact_icontxt">+91-9999999999 </div>
                                </li>
                                <li>
                                	<div class="contact_icon"><ng-md-icon icon="email" style="fill:#737a7a" size="30"></ng-md-icon></div>
                                    <div class="contact_icontxt"><a href="#">help@test.com</a></div>
                                </li>
                            </ul>
                        </div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
