<!-- <div ng-controller="featureController as step2Ctlr"> -->
<div ng-controller="featureController as featureCtlr" class="dash-main-con">
   <section class="dashrightsection">     
   <div class="dash_hd mar-bot0">
	    <ng-md-icon title="Features" icon="settings" style="fill:#7a7a7a;position: relative;top: -2px;" size="25"></ng-md-icon> Features <i><small style="color: #777;font-weight: 600;font-size: 14px;">(Click on circle to enable/disable the jot feature.)</small></i> 
	 </div>

      <div class="hotel_list_top">
         <div class="circle_container" ng-repeat="board in $root.jotTypes">
            <a class="circle" href="javaScript:void(0)" ng-click="updateItemList(board.id)">
               <div class="circle__inner">
                  <div class="circle__wrapper">
                     <div class="hover_effect_home" style='background: {{(board.bgcolor && (boards | filter:board.id).length != 0 )?board.bgcolor:"#71adf7";}}' ng-class="{deactive:(boards | filter:board.id).length == 0}">
                        <div>
                           <img  class="hotel-list-icon" src="{{board.data}}" ng-if="board.icontype == 'image'">
                        </div>
                        <h4>{{board.label}}</h4>

                     </div>
                  </div>
               </div>
            </a>
         </div>
      </div>      
      <div class="clearfix"></div>
   </section>
</div>