<div ng-controller="footerController">

<div layout="row" layout-sm="column" ng-show = "$root.hoteljotLoader" class="hoteljot_loader">
	<md-progress-circular class="hoteljot_loader_icon" md-mode="indeterminate"></md-progress-circular>
	<span class="loading_text">Please Wait...</span>
</div>



<div class="frontfoter" ng-if="isAuth.footer=='yes'">
	<div class="frontfoter_inner">
		<div class="container clearfix">
			<div class="left_newfotter">
				<div class="fotter_links_new">
					<ul class="clearfix">
						<li><a href="/contact-us">Contact Us</a></li>
						<li><a href="/faq">help &amp; faq</a></li>
						<li><a href="/demo">Request a demo</a></li>
						<li><a href="javascript:;">Privacy Policy</a></li>
						<li><a href="javascript:;">Terms and Conditions</a></li>
					</ul>
				</div>
			</div>
			<div class="right_newfotter">Copyright 2017, hoteljot.com</div>
		</div>
	</div>
</div>

<!-- ng-style="{'top':($root.popup)?'50%':'-100%'}" -->
<div class="bglayout" ng-show="$root.popup"></div>

<div class="custom-popup"  ng-style="{'top':($root.popup)?'50%':'-100%'}">
	<div class="check" ng-class="{scaledown:$root.popup}"> ✔ </div>

	<div class="popup-content" ng-bind-html="$root.popupData.text">
		<!-- popup data here -->		
	</div>
	<button id="ok" ng-if="$root.popupData.action == 'ok'" ng-click="callClosePopup();"> OK </button>
	<button id="ok" ng-if="$root.popupData.action == 'redirect'" ng-click="redirectToHome()">OK </button>
</div>

</div>
