<!-- header -->
<div class="dash_home_header clearfix" ng-if="isAuth.headerType=='hotel_header'" ng-controller="headerController">
	<duv class="dash_home_header_logo pull-left">
		<a href="javascript:;"><img src="assets/images/dash-logo.png"></a>
	</duv>
	<duv class="dash_home_header_menu pull-right">
		<ul class="dash_home_header_menu_list">
			<li class="noti_icon positionrel">
				<ng-md-icon icon="notifications" style="fill: white" size="30"></ng-md-icon>
				<small class="notification-badge">5</small>
			</li>
			<li class="usermenu">
				<md-menu md-position-mode="target-right target" md-offset="0 80">
		          <md-button aria-label="Open demo menu" class="md-icon-button" ng-click="$mdMenu.open($event)">
		          	<i class="user_dp_header"><img src="assets/images/user_dp_header.png"></i>
		          	<ng-md-icon icon="keyboard_arrow_down" style="fill: white" size="25"></ng-md-icon>
		          </md-button>
		          <md-menu-content width="3" >
		            <md-menu-item ng-repeat="item in [1]">
		              <md-button ng-click="clearToken(); announceClick($index)">
		                  <div layout="row">
		                    <p>Logout</p>
		                    <md-icon md-menu-align-target  style="margin: auto 3px auto 0;"></md-icon>
		                  </div>
		              </md-button>
		            </md-menu-item>
		          </md-menu-content>
		        </md-menu>
			</li>
		</ul>
	</duv>
</div>
<!--End header -->


<!-- header -->
<div class="dash_home_header clearfix" ng-if="isAuth.headerType=='dashboard_header'" ng-controller="headerController">
	<!-- <duv class="dash_home_header_logo_center">
		<a href="javascript:;" ng-click="quickTaskPopup()"><img src="assets/images/circle-logo.png"></a>
	</duv> -->

	<duv class="dash_home_header_logo_center">

		<a href="javascript:;" ng-click="logocircle=!logocircle" class="md-block">
			<img src="assets/images/circle-logo.png">
		</a>	
		<div class="iconHover " ng-class="{'logocircle':logocircle}">
			<div class="center_circle">
				<a href="javascript:void(0);" ng-click="quickTaskPopup()">
					Quick Jot
				</a>
			</div>
            <a href="javascript:void(0)" title="Issue" ng-click="$root.openFormByType('issue')" class="icon onelink" >
            	<ng-md-icon icon="warning" style="fill: white" size="25"></ng-md-icon>
            </a>
            <a href="javascript:void(0)" title="Task" ng-click="$root.openFormByType('task')"  class="icon twolink">
            	<ng-md-icon icon="format_list_bulleted" style="fill: white" size="25"></ng-md-icon>
            </a>
            <a href="javascript:void(0);" title="Note" ng-click="$root.openFormByType('note')" class="icon threelink">
            	<ng-md-icon icon="insert_drive_file" style="fill: white" size="25"></ng-md-icon>
            </a>
            <a href="javascript:void(0);" title="Lost & Found" ng-click="$root.openFormByType('lost_found')" class="icon fourlink">
            	<ng-md-icon icon="business" style="fill: white" size="25"></ng-md-icon>
            </a>
            <a href="javascript:void(0);" title="Vending Machine" ng-click="$root.openFormByType('vending_machine')"  class="icon fivelink">
            	
            	<ng-md-icon icon="local_drink" style="fill: white" size="25"></ng-md-icon>
            </a>
            <a href="#" class="icon sixlink">
            	<ng-md-icon icon="group" style="fill: white" size="25"></ng-md-icon>
            </a>
        </div>		
	</duv>
	<div class="pull-left">
		<div class="clearfix">
			<div class="hotel_drop" layout="row" layout-align="space-between center">{{hotel.hotel_name}} 				

				<md-menu md-position-mode="target-right target " md-offset="0 68" >
				  <md-button aria-label="Open demo menu" class="md-icon-button" ng-click="$mdMenu.open($event)">
		          	
		          	<ng-md-icon icon="keyboard_arrow_down" style="fill: white" size="25"></ng-md-icon>
		          </md-button>

				  <md-menu-content width="4">
				    <md-menu-item ng-repeat="hotel in hotels">
				      <md-button ng-click="changeJotView(hotel._id,hotel.hotelname)">
				          <div layout="row">
				            <p>{{hotel.hotelname}}</p>
				            <md-icon md-menu-align-target  style="margin: auto 3px auto 0;"></md-icon>
				          </div>
				      </md-button>
				    </md-menu-item>
				  </md-menu-content>

				</md-menu>
			</div>

			<div class="heder_srch">

			<md-input-container md-no-float="" class="md-block md-input-has-placeholder" autocomplete="off">
			<ng-md-icon icon="search"  class="search_icon" style="fill:#a3a3a3" size="24"></ng-md-icon>
	        <input  placeholder="Search here..." class="ng-pristine searchbar ng-untouched ng-valid ng-isolate-scope md-input ng-empty" aria-label="@ Staff Manager Name with Note for Manager" aria-invalid="false">	        

	    </md-input-container>
			</div>
		</div>
	</div>
	<duv class="dash_home_header_menu pull-right">
		<div class="clearfix">
		<ul class="dash_hotel_menu_list pull-left">
			<li><a href="javascript:;">Dashboard</a></li>
			<li><a href="javascript:;">Meeting Room</a></li>
			<li><a href="javascript:;">Vending</a></li>
			<li><a href="javascript:;">Lost &amp; Found</a></li>
		</ul>                         
		<ul class="dash_home_header_menu_list pull-left">
			<li class="noti_icon positionrel">
				<ng-md-icon icon="notifications" style="fill: white" size="30"></ng-md-icon>
				<small class="notification-badge">5</small>
			</li>
			<li class="usermenu">
				<md-menu md-position-mode="target-right target " md-offset="0 80" >
		          <md-button aria-label="Open demo menu" class="md-icon-button" ng-click="$mdMenu.open($event)">
		          	<i class="user_dp_header"><img src="assets/images/user_dp_header.png"></i>
		          	<ng-md-icon icon="keyboard_arrow_down" style="fill: white" size="25"></ng-md-icon>
		          </md-button>
		          <md-menu-content width="3" >
		            <md-menu-item ng-repeat="item in [1]">
		              <md-button ng-click="clearToken(); announceClick($index)">
		                  <div layout="row">
		                    <p>Logout</p>
		                    <md-icon md-menu-align-target  style="margin: auto 3px auto 0;"></md-icon>
		                  </div>
		              </md-button>
		            </md-menu-item>
		          </md-menu-content>
		        </md-menu>
			</li>
		</ul>
		</div>
	</duv>
</div>




<!--End header -->