<div class="clearfix frontheder" ng-if="isAuth.headerType =='front_header'" ng-controller="frontHeaderController">
		<div class="yellowlogo pull-left">
			<a href="/">
				<img src="assets/images/yellowlogo.png">
			</a>
		</div>
		<div class="front_hrader_menu pull-right"  >
			<div class="clearfix">
				<div class="pull-left frontnav" ng-class="{'openleftmenu':openleftmenu}">
					<ul class="clearfix header_menu">                             
						<li ng-repeat="menu in menus">
							<a ng-class="{active: activemenu == menu.label}" href="{{(menu.href)?menu.href:''}}" ng-click="gotoElement(menu)"> {{menu.label}} </a>
						</li>
					</ul>
				</div>


				<div class="pull-right frontnav_login">
					<ul class="clearfix">
						<li>
						<a ng-if="!$root.logggedin" href="javaScript:void(0);" ng-click="openLoginForm()">LOGIN</a>
						<a ng-if="$root.logggedin == 1" href="/dashboard">Dashboard</a>

						</li>

						<li>
						<a ng-if="!$root.logggedin" href="javaScript:void(0);" ng-click="openRegisterFormpopup()"  class="active">GET STARTED</a>

						<a ng-if="$root.logggedin == 1" ng-click="$root.clearToken();" href="javaScript:void(0);">Logout</a>
						</li>
					</ul>
					<div class="mobile-menu_div" >
						<a href="javascript:;" ng-class="{'openleftmenu':openleftmenu}" ng-click="openleftmenu=!openleftmenu" class="mobile-menu">
							<span></span>
							<span></span>
							<span></span>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>





<div class="dash_home_header clearfix" ng-if="isAuth.headerType =='hotel_header'" ng-controller="headerController">
	<duv class="dash_home_header_logo pull-left">
		<a href="/dashboard"><img src="assets/images/dash-logo.png"></a>
	</duv>
	<duv class="dash_home_header_menu pull-right">
		<ul class="dash_home_header_menu_list">
			<li class="noti_icon positionrel">
				<ng-md-icon icon="notifications" style="fill: white" size="30"></ng-md-icon>
				<small class="notification-badge">5</small>
			</li>
			<li class="usermenu" title="{{$root.userData.first_name}} {{$root.userData.last_name}}">
				<md-menu md-position-mode="target-right target" md-offset="0 80">
		          <md-button aria-label="Open demo menu" class="md-icon-button" ng-click="$mdMenu.open($event)">
		          	<i class="user_dp_header"><img src="assets/images/user_dp_header.png"></i>
		          	<ng-md-icon icon="keyboard_arrow_down" style="fill: white" size="25"></ng-md-icon>
		          </md-button>

		          <md-menu-content width="3" >
		            <md-menu-item ng-repeat="item in [1]">
		              <md-button ng-click="clearToken(); announceClick($index)">
		                  <div layout="row">
		                    <p>Logout</p>
		                    <md-icon md-menu-align-target  style="margin: auto 3px auto 0;"></md-icon>
		                  </div>
		              </md-button>
		            </md-menu-item>
		          </md-menu-content>

		        </md-menu>
			</li>
		</ul>
	</duv>
</div>
<!--End header -->





















<!-- header -->
<div class="dash_home_header clearfix" ng-if="isAuth.headerType=='dashboard_header'" ng-controller="headerController">


	<duv class="dash_home_header_logo_center"> 

		<a href="javascript:void(0);" ng-click="logocircle=!logocircle" class="md-block">
			<img src="assets/images/circle-logo.png">
		</a>	
		<div class="iconHover " ng-class="{'logocircle':logocircle}" circle-toggle > 
			<div class="center_circle">
				<a href="javascript:void(0);" ng-click="quickTaskPopup()">
					Quick Jot
				</a>
			</div>


            <a href="javascript:void(0);" ng-repeat="board in $root.boards"  title="{{jotValue.label}}" 
            ng-click="$root.openFormByType($root.jotTypes[board])" class="icon {{$root.jotTypes[board].class}}">            	
            	<img src="{{$root.jotTypes[board].data}}" ng-if="$root.jotTypes[board].icontype == 'image'" width="25px">
            </a>

        </div>		
	</duv>

	<div class="pull-left">
		<div class="clearfix">
			<div class="hotel_drop" layout="row" layout-align="space-between center">{{hotel.hotelname}} 				

				<md-menu md-position-mode="target-right target " md-offset="0 68" >
				  <md-button aria-label="Open demo menu" class="md-icon-button" ng-click="$mdMenu.open($event)">
		          	
		          	<ng-md-icon icon="keyboard_arrow_down" style="fill: white" size="25"></ng-md-icon>
		          </md-button>

				  <md-menu-content width="4">
				    <md-menu-item ng-repeat="hotel in hotels">
				      <md-button ng-click="changeJotView(hotel)">
				          <div layout="row">
				            <p>{{hotel.hotelname}}</p>
				            <md-icon md-menu-align-target  style="margin: auto 3px auto 0;"></md-icon>
				          </div>
				      </md-button>
				    </md-menu-item>
				  </md-menu-content>

				</md-menu>
			</div>

			<div class="heder_srch">

			<md-input-container md-no-float="" class="md-block md-input-has-placeholder" autocomplete="off">
			<ng-md-icon icon="search"  class="search_icon" style="fill:#a3a3a3" size="24"></ng-md-icon>
	        <input  placeholder="Search here..." class="ng-pristine searchbar ng-untouched ng-valid ng-isolate-scope md-input ng-empty" aria-label="@ Staff Manager Name with Note for Manager" aria-invalid="false">	        

	    </md-input-container>
			</div>
		</div>
	</div>
	<duv class="dash_home_header_menu pull-right">
		<div class="clearfix">
		                        
		<ul class="dash_home_header_menu_list pull-left">
			<li class="noti_icon positionrel">
				<ng-md-icon icon="notifications" style="fill: white" size="30"></ng-md-icon>
				<small class="notification-badge">5</small>
			</li>
			<li class="usermenu"  title="{{$root.userData.first_name}} {{$root.userData.last_name}}">
				<md-menu md-position-mode="target-right target " md-offset="0 80" >
		          <md-button aria-label="Open demo menu" class="md-icon-button" ng-click="$mdMenu.open($event)">
		          	<i class="user_dp_header"><img src="assets/images/user_dp_header.png"></i>
		          	<ng-md-icon icon="keyboard_arrow_down" style="fill: white" size="25"></ng-md-icon>
		          </md-button>
		          <md-menu-content width="3" >
		            <md-menu-item>

		              <md-button ng-click="clearToken(); announceClick($index)">
		              
		                  <a layout="row" href="javascript:void(0)">
		                  <ng-md-icon icon="power_settings_new" md-menu-align-target  style="margin: auto 3px auto 0;"></ng-md-icon>
		                    <p>Logout</p>		                    
		                  </a>
		              </md-button>

		            </md-menu-item>

		             <md-menu-item>
		              <md-button>
		                  <a layout="row" href="/dashboard/profile">
		                  <ng-md-icon icon="person" md-menu-align-target  style="margin: auto 3px auto 0;"></ng-md-icon>
		                    <p>Edit Profile</p>
		                    
		                  </a>
		              </md-button>
		            </md-menu-item>
		          </md-menu-content>
		         
		        </md-menu>
			</li>
		</ul>
		</div>
	</duv>
</div>

<!--End header