<!--left menu -->

		<div class="toogle_menu clearfix">
			<a href="javascript:;" class="clearfix">
			<span>dashboard</span>
			<ng-md-icon icon="menu" ng-click="leftopen=!leftopen" class="cursor" style="fill:white" size="24"></ng-md-icon> 
			</a>
		</div>
		<div class="toogle_menu_list">
 
			<ul>
				<li>
					<a href="javascript">	
						<ng-md-icon icon="call" class="cursor" style="" size="24"></ng-md-icon> 
						<span>Phone Directory</span>
					</a>
				</li>
				<li>
					<a href="javascript">	
						<ng-md-icon icon="group" class="cursor"  size="24"></ng-md-icon> 
						<span>view members group</span>
					</a>	
					<ul class="sub_menu">
						<li><a href="javascript">View &amp; Add Member </a></li>
						<li><a href="javascript">View &amp; Create Group</a></li>
						<li></li>
					</ul>
				</li>
				<li>
					<a href="javascript">	
						<ng-md-icon icon="email" class="cursor"  size="24"></ng-md-icon> 
						<span>message</span>
					</a>	
				</li>
				<li>
					<a href="javascript">	
						<ng-md-icon icon="insert_drive_file" class="cursor"  size="24"></ng-md-icon> 
						<span>report</span>
					</a>
				</li>
				<li>
					<a href="javascript">
						<ng-md-icon icon="business" class="cursor"  size="24"></ng-md-icon> 
						<span>alert for hotels</span>
					</a>
				</li>
				<li>
					<a href="javascript">
						<ng-md-icon icon="settings" class="cursor"  size="24"></ng-md-icon> 
						<span>Settings</span>
					</a>
				</li>
			</ul>
		</div>
<!--middle panel -->